@import '../../_typography-button-layout';

#opti_DashboardID {
    background: $white;
    height: calc(100vh - 85px);
    border-radius: 5px;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    background: url('/assets/images/signup/nouse/shutter/background-wms.jpg');
    background-size: cover;
    background-position: center;
}