<kendo-dialog  *ngIf="opened" [width]="1024" [height]="600" (close)="close()">
    <kendo-dialog-titlebar>
        {{fileNameLabel}}
    </kendo-dialog-titlebar>
    <iframe *ngIf="isMobile==false" width='100%' height='500px' [src]='base64String | pdfpipe'></iframe>
    <!-- <button type="button"  (click)="OnCancelClick()" class="btn btn-danger k-button btn-sm btn-icon-with-text"><span class="k-icon k-i-close-outline"
        role="presentation"></span> {{'Cancel'|translate}}</button> -->

    <pdf-viewer  *ngIf="isMobile" [src]="fileNameLabel" 
        [render-text]="true"
        style="display: block;"></pdf-viewer>
</kendo-dialog>