<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'SelectWarehouse'|translate}}
            </h3>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">

                    <div class="form-group row">
                        <label label for="inputPassword" class="col-sm-3 col-form-label">
                            <span class="opti_form-label">{{'SelectWarehouse'|translate}}</span>
                        </label>
                        <div class="col-sm-9">
                            <kendo-dropdownlist [data]="whsList" textField="OPTM_WHSE" 
                            (valueChange) = "onWhseChange($event)"
                            valueField="BPLid" id="whseId" name="defaultWHS" [(ngModel)]="defaultWHS">
                            </kendo-dropdownlist>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label label for="inputPassword" class="col-sm-3 col-form-label">
                            <span class="opti_form-label">{{'SelectRole'|translate}}</span>
                        </label>
                        <div class="col-sm-9">
                            <kendo-dropdownlist [data]="roleList" textField="OPTM_ROLEID" valueField="BPLid"
                             id="RoleId" name="selectedRole" [(ngModel)]="selectedRole"
                             (valueChange) = "onRoleChange($event)"
                             (click)="showRoleList()" >
                            </kendo-dropdownlist>
                        </div>
                    </div>

                    <div class="form-group row" *ngIf="showZone"> 
                        <label label for="inputPassword" class="col-sm-3 col-form-label">
                            <span class="opti_form-label">{{'SelectZone'|translate}}</span>
                        </label>
                        <div class="col-sm-9">
                            <kendo-dropdownlist [data]="zoneList" textField="OPTM_WHSZONE" 
                            valueField="BPLid" id="ZoneId" name="selectedZone"
                            (valueChange) = "onZoneChange($event)"
                             [(ngModel)]="selectedZone"  (click)="showZoneList()"  >
                            </kendo-dropdownlist>
                        </div>
                    </div>

                    <div class="form-group row" *ngIf="showBinRange">
                        <label label for="inputPassword" class="col-sm-3 col-form-label">
                            <span class="opti_form-label">{{'SelectBin'|translate}}</span>
                        </label>
                        <div class="col-sm-9">
                            <kendo-dropdownlist [data]="binRangeList" (click)="showBinRangeList()" 
                            textField="OPTM_BIN_RANGE" valueField="BPLid" id="BinId"  
                            (valueChange) = "onBinRangeChange($event)"
                             name="selectedBin" [(ngModel)]="selectedBin">
                            </kendo-dropdownlist>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">
                <button type="button" (mousedown)="onSubmitClick()" class="btn btn-success k-button btn-sm btn-icon-with-text">
                    <span class="k-icon k-i-check" role="presentation"></span> {{'Submit'|translate}}</button>
            </div>
        </div>
    </form>
</div>