<!-- Grid Modal-->
<kendo-dialog title="{{lookupTitle}}" *ngIf="dialogOpened" (close)="close_kendo_dialog()" [minWidth]="750" [width]="750">


    <kendo-grid 
    [kendoGridBinding]="serviceData" 
    [filterable]=isColumnFilter
    [groupable]=isColumnGroup 
    [selectable]="true" 
    [pageable]="false"
    [sort]="state.sort"
    [filter]="state.filter"
    [resizable]="true" 
    [skip]="skip" 
    (selectionChange)="on_item_select($event)" 
    [pageSize]="100" 
    style="max-height:400px" 
    class="no-shadow">
    
        <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="1">
            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
            <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
            <kendo-pager-next-buttons></kendo-pager-next-buttons>
            <kendo-pager-info></kendo-pager-info>
        </ng-template>
        <!-- grid template start -->
        <ng-template kendoGridToolbarTemplate>

            <!-- checkbox -->
            <form class="k-form opti_show-hide-grid-column-filter float-left opti_hide-in-mobile pl-0 pt-0">
                <div class="k-form-field d-flex">
                    <input #chkFilter type="checkbox" (change)="onFilterChange(chkFilter,gridItem)" id="opti_SalesOrderListColumnFilterID" [(ngModel)]="isColumnFilter" class="k-checkbox" name="columnfilter" />
                    <label class="k-checkbox-label" for="opti_SalesOrderListColumnFilterID">Enable Filter</label>
                </div>
            </form>             

        </ng-template>



        <kendo-grid-column *ngFor="let column of table_head" field="{{column.field}}" title="{{column.title}}" filter="{{column.type}}"
            format="{{column.format}}" width="{{column.width}}" minResizableWidth="{{column.width}}"></kendo-grid-column>

    </kendo-grid>
</kendo-dialog>
