<div id="opti_signinID" class="opti_account-submodule-wrapper">

    <div class="float-left opti_account-banner-section">
    </div>

    <div class="float-right opti_account-form-section">
        <div class="opti_outer-login-form opti_account-submodule-container">
            <div class="opti_vertcal-align-outer-box">
                <div class="panel-body opti_position-relative" [perfectScrollbar]="">

                    <!-- loader start -->
                    <div class="opti_loader" *ngIf="showLoader==true">
                        <div class="opti_spinner"></div>
                    </div>
                    <!-- loader end --> 

                    <div class="opti_fullwidth text-center opti_signin-logo">
                        <!-- <img src="assets/images/logo/large-logo.png" alt="brandlogo" class="opti_account-logo"> -->
                        <img src="assets/images/signin/large-logo-alt.png" alt="brandlogo" class="opti_account-logo" style="max-width: 100%;">
                        
                    </div>

                    <form class="k-form" #signInForm="ngForm">
                        
                        <div class="col-auto">
                            <span class="opti_form-label">
                              <!-- {{ 'Login_Username'|translate}} -->
                            
                              <span *ngIf="emailId.errors?.required && (emailId.dirty || emailId.touched)" 
                              class="float-right opti_error-msg" >{{'Login_UnBlankErrMsg'|translate}}</span>
                             
                                </span> 
                            <label class="sr-only" for="inlineFormInputGroup">{{ 'Login_Username'|translate}}</label>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <div class="input-group-text"><span class="k-icon k-i-user"></span></div>
                              </div>
                              <input type="text" id="emailID"  name ="email" required [(ngModel)]="userName"
                            #emailId = ngModel class="form-control"  value="" placeholder="{{ 'Login_EnterUsername'|translate}}"
                            [readonly]=readonlyFlag
                            />  
                            </div>
                          </div>
                        <div class="col-auto">
                            <span class="opti_form-label">
                              <span  *ngIf="this.isError==true &&  (pwd.dirty || pwd.touched) && (emailId.dirty || emailId.touched) && !pwd.errors?.required" class="float-right opti_error-msg">Invalid credentials.</span>
                            </span>
                            <label class="sr-only" for="inlineFormInputGroup">{{ 'Login_Password'|translate}}</label>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <div class="input-group-text"><span class="k-icon k-i-unlock"></span></div>
                              </div>
                              <input name = "password" required [(ngModel)]="password" 
                          #pwd = ngModel type="password" class="form-control" value="" 
                          placeholder="{{'Login_EnterPassword'|translate}}" [readonly]=readonlyFlag />
                            </div>
                          </div>

                        <!-- start if condition -->
                        <div class="col-auto">
                            <ng-container *ngIf="isCompleteLoginVisible">
                                <label class="k-form-field">
                                  <span class="opti_form-label">{{'Login_Company'|translate}} </span>
                                  <kendo-dropdownlist class="form-control form-control-sm"
                                  (valueChange) = "onCompanyChange($event)"
                                   [data]="companyName" name="selectedItem"
                                   [(ngModel)]="selectedItem"
                                   id="compId"
                                   ></kendo-dropdownlist>
                                </label>
    
                                <label class="k-form-field">
                                  <span class="opti_form-label">{{'Login_Warehouse'|translate}} </span>
                                  <kendo-dropdownlist class="form-control form-control-sm"
                                   [data]="whsList" (click)="setWarehouseList()" 
                                   textField="OPTM_WHSE"
                                   valueField="BPLid"
                                   id="whseId"
                                   name = "defaultWHS"
                                   (blur)="checkSelectedWhse()"
                                   (valueChange) = "onWhsChange($event)"
                                   [(ngModel)]="defaultWHS"
                                  ></kendo-dropdownlist>
                                </label>
    
                                <label class="k-form-field">
                                    <span class="opti_form-label">{{'Role'|translate}} </span>
                                    <kendo-dropdownlist class="form-control form-control-sm"
                                     [data]="roleList" (click)="showRoleList()" 
                                     textField="OPTM_ROLEID"
                                     valueField="BPLid"
                                     id="Role"
                                     name = "selectedRole"
                                     [(ngModel)]="selectedRole"
                                    ></kendo-dropdownlist>
                                  </label>

                                  <label class="k-form-field" *ngIf="showZone">
                                    <span class="opti_form-label">{{'Zone'|translate}} </span>
                                    <kendo-dropdownlist class="form-control form-control-sm"
                                     [data]="zoneList" (click)="showZoneList()" 
                                     textField="OPTM_WHSZONE"
                                     valueField="BPLid"
                                     id="Zone"
                                     name = "selectedZone"
                                     [(ngModel)]="selectedZone"
                                    ></kendo-dropdownlist>
                                  </label>

                                  <label class="k-form-field" *ngIf="showBinRange">
                                    <span class="opti_form-label">{{'BinRange'|translate}} </span>
                                    <kendo-dropdownlist class="form-control form-control-sm"
                                     [data]="binRangeList" (click)="showBinRangeList()" 
                                     textField="OPTM_BIN_RANGE"
                                     valueField="BPLid"
                                     id="BinRange"
                                     name = "selectedBin"
                                     [(ngModel)]="selectedBin"
                                    ></kendo-dropdownlist>
                                  </label>
                            </ng-container>
                            </div>
                        
                        <div class="col-auto">
                        <label class="k-form-field" *ngIf="isCompleteLoginVisible">
                            <div class="opti_checkbox-container">
                                <input type="checkbox" id="auth-2fa" class="k-checkbox float-left" [(ngModel)]="isRemember" name="isRemember">
                                <label class="k-checkbox-label" for="auth-2fa">{{'Login_RememberMe'|translate}}</label>
                            </div>
                        </label>
                        </div>
                        <div class="col-auto">
                        <div class="text-right">
                            <button type="submit" id=connectbtn class="k-button k-primary opti_fullwidth mt-2" *ngIf="!isCompleteLoginVisible" (click)="login()">{{'Login_Connect'|translate}}</button>
                            <button type="button" id=connectbtn *ngIf="isCompleteLoginVisible" class="k-button k-primary opti_fullwidth" (click)="login()">{{'Login_Login'|translate}}</button>
                            <button type="submit" id=connectbtn *ngIf="isCompleteLoginVisible" class="k-button k-primary opti_fullwidth mt-3" (click)="onResetClick(signInForm)">{{'Login_Reset'|translate}}</button>                            
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <span *ngIf="showConfirmDialog">
            <app-comon-confirm-dialog [titleMessage]="dialogMsg" [yesButtonText]="yesButtonText" [fromWhere]="dialogFor" [noButtonText]="noButtonText"
                (isYesClick)="getConfirmDialogValue($event)"></app-comon-confirm-dialog>
        </span>

    <!-- Full page loader start -->
    <div class="opti_FullPageLoader" *ngIf="showFullPageLoader==true">
        <div class="blob blob-0"></div>
        <div class="blob blob-1"></div>
        <div class="blob blob-2"></div>
        <div class="blob blob-3"></div>
        <div class="blob blob-4"></div>
        <div class="blob blob-5"></div>
    </div>

    <!-- Full page loader loader end -->
</div>

