<div id="opti_signinID" class="opti_account-submodule-wrapper">

    <div class="float-left opti_account-banner-section">
    </div>

    <div class="float-right opti_account-form-section">
        <div class="opti_outer-login-form opti_account-submodule-container">
            <div class="opti_vertcal-align-outer-box">
                <div class="panel-body opti_position-relative" [perfectScrollbar]="">

                    <!-- loader start -->
                    <div class="opti_loader" *ngIf="showLoader==true">
                        <div class="opti_spinner"></div>
                    </div>
                    <!-- loader end --> 

                    <div class="opti_fullwidth text-center opti_signin-logo">
                        <img src="assets/images/logo/large-logo.png" alt="brandlogo" class="opti_account-logo">
                    </div>

                    <form class="k-form" #signInForm="ngForm">
                        <label class="k-form-field">
                          <span class="opti_form-label">{{ 'Username'|translate}}
                          <!-- <span *ngIf="emailId.errors?.email && emailId.touched" 
                          class="float-right opti_error-msg"> Invalid emailId. </span> -->
                          <span *ngIf="emailId.errors?.required && (emailId.dirty || emailId.touched)" 
                          class="float-right opti_error-msg" >{{'UnBlankErrMsg'|translate}}</span>
                          <!-- <span  *ngIf="this.userNotExist==true && (emailId.dirty || emailId.touched) 
                          && (pwd.dirty || pwd.touched) && !emailId.errors?.required &&
                           !emailId.errors?.valid " class="float-right opti_error-msg">
                           User does not exists.</span> -->
                          </span> 
                          <input type="text" id="emailID"  name ="email" required [(ngModel)]="userName"
                            #emailId = ngModel class="k-textbox"  value="" placeholder="{{ 'EnterUsername'|translate}}"
                            [readonly]=readonlyFlag
                            />  
                        </label> 

                        <label class="k-form-field">
                          <span class="opti_form-label">{{ 'Password'|translate}}
                              <span  *ngIf="pwd.errors && (pwd.dirty || pwd.touched)"   class="float-right opti_error-msg">{{'PwdBlankErrMsg'|translate}}</span>
                              <span  *ngIf="this.isError==true &&  (pwd.dirty || pwd.touched) && (emailId.dirty || emailId.touched) && !pwd.errors?.required" class="float-right opti_error-msg">Invalid credentials.</span>
                              
                          </span>
                          <input name = "password" required [(ngModel)]="password" 
                          #pwd = ngModel type="password" class="k-textbox" value="" 
                          placeholder="{{'EnterPassword'|translate}}" [readonly]=readonlyFlag />
                        </label>

                        <!-- start if condition -->
                        <ng-container *ngIf="isCompleteLoginVisible">
                            <label class="k-form-field">
                              <span class="opti_form-label">{{'Company'|translate}} </span>
                              <kendo-dropdownlist class="form-control form-control-sm"
                              
                               [data]="companyName" name="selectedItem"
                               [(ngModel)]="selectedItem"
                               id="compId"
                               ></kendo-dropdownlist>
                            </label>

                            <label class="k-form-field">
                              <span class="opti_form-label">{{'Warehouse'|translate}} </span>
                              <kendo-dropdownlist class="form-control form-control-sm"
                               [data]="whsList" (click)="setWarehouseList()" 
                               textField="OPTM_WHSE"
                               valueField="BPLid"
                               id="whseId"
                               name = "defaultWHS"
                               [(ngModel)]="defaultWHS"
                              ></kendo-dropdownlist>
                            </label>

                            <!-- <label class="k-form-field">
                                <span class="opti_form-label">Select Mode </span>
                                <input type="radio" name="scan" id="radio1" class="k-radio" checked />
                                <label class="k-radio-label" for="radio1">scanning</label>
                            <input type="radio" name="scan" id="radio2" class="k-radio" />
                            <label class="k-radio-label" for="radio2">Without-Scanning</label>
                            </label> -->
                        </ng-container>
                        <!-- end if condition -->

                        <label class="k-form-field" *ngIf="isCompleteLoginVisible">
                            <div class="opti_checkbox-container">
                                <input type="checkbox" id="auth-2fa" class="k-checkbox float-left" [(ngModel)]="isRemember" name="isRemember">
                                <label class="k-checkbox-label" for="auth-2fa">{{'RememberMe'|translate}}</label>
                            </div>
                        </label>
                        <div class="text-right">
                            <button type="submit" id=connectbtn class="k-button k-primary opti_fullwidth mt-4" *ngIf="!isCompleteLoginVisible" (click)="login()">{{'Connect'|translate}}</button>
                            <button type="button" id=connectbtn *ngIf="isCompleteLoginVisible" class="k-button k-primary opti_fullwidth" (click)="onResetClick(signInForm)">{{'Reset'|translate}}</button>
                            <button type="submit" id=connectbtn *ngIf="isCompleteLoginVisible" class="k-button k-primary opti_fullwidth" (click)="login()">{{'Login'|translate}}</button>                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Full page loader start -->
    <div class="opti_FullPageLoader" *ngIf="showFullPageLoader==true">
        <div class="blob blob-0"></div>
        <div class="blob blob-1"></div>
        <div class="blob blob-2"></div>
        <div class="blob blob-3"></div>
        <div class="blob blob-4"></div>
        <div class="blob blob-5"></div>
    </div>

    <!-- Full page loader loader end -->
</div>

