<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{pagetitle}}
            </h3>
            <div class="row" *ngIf="fromWhere!='itr'">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'Outbound_SO'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input #scanSO type="text" name="orderNumber" id="OutOrderOrderNoInput" (blur)="onOrderNoBlur()" value=''
                                    [(ngModel)]="orderNumber" class="form-control form-control-sm"
                                    placeholder="{{'Outbound_SO'|translate}}">
                                <div class="input-group-append has-seprate-btn">
                                    <button tabindex="-1" class="k-button k-primary btn" (mousedown)="openOrderLookup()" type="button">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                    
                                        <button tabindex="-1" type="button" id="outOrderSOScan" 
                                            class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                            <i class="opti-icon-qr-code fs-24"></i>
                                        </button>
                                        <!-- <button tabindex="-1" class="k-button k-primary btn separate-btn" 
                                         (mousedown)="openSOOrderList()"
                                        type="button">
                                        <i class="opti-icon-search"></i>
                                    </button> -->
                              
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="fromWhere=='itr'">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                        <div class="form-group row">
                                <label for="inputPassword" class="col-sm-3 col-form-label">{{'InvTransfer_ITR'|translate}}</label>
                                <div class="col-sm-9">
                                  <div class="input-group input-group-sm">
                                    <input #DocNum type="text" class="form-control form-control-sm" name="docNum" [(ngModel)]=docNum
                                      placeholder="{{'InvTransfer_ITR'|translate}}" (blur)="onITRChange()" id="outOrderItrCodeInput">
                                    <div class="input-group-append has-seprate-btn">
                                      <button tabindex="-1" class="k-button k-primary btn" type="button" (mousedown)="onITRlookupClick()">
                                        <i class="opti-icon-hammenu"></i>
                                      </button>
                                    </div>
                                    <div class="ml-1 d-flex">
                                      <button tabindex="-1" type="button" id="OutOrderItrCodeScanBtn" (mousedown)="onOrderScan()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                        <i class="opti-icon-qr-code fs-24"></i>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                         </div>
                </div>
            </div>

            <div class="row" *ngIf="isPalletizationEnable">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                    <div class="form-group row">
                        <label for="orderNumber" class="col-sm-3 col-form-label">{{'Plt_PalletNo'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" #PalletNo name="pltNo" (blur)="onPalletChange()" value=''
                                    [(ngModel)]="palletNo" class="form-control form-control-sm" id="outOrderPalletNoInput"
                                    placeholder="{{'Plt_PalletNo'|translate}}">
                                <div class="input-group-append has-seprate-btn">
                                    <button tabindex="-1" class="k-button k-primary btn" (mousedown)="getPalletList()" type="button">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                    <!-- <button class="k-button k-primary btn separate-btn"
                                            (click)="openSOOrderList()" type="button">
                                            <i class="opti-icon-search"></i>
                                        </button> -->
                                    <button tabindex="-1" class="k-button k-primary btn separate-btn" type="button" (mousedown)="showSelectedPallets()"
                                        *ngIf="savedPalletItems.length>0">
                                        <i class="opti-icon-view-batch mr-1"></i>{{'Plt_Pallets'|translate}}
                                    </button>
                                    <button tabindex="-1" type="button" id="outOrderPalletScanButton" (mousedown)="onPalletScan()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                        <i class="opti-icon-qr-code fs-24"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                    <div class="form-group row">
                        <label for="orderNumber" class="col-sm-3 col-form-label">{{'ItemCode'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input #scanItemCode type="text" id="outOrderItemcodeinput" name="ItemCode" (blur)="onItemChange()" value=''
                                    [(ngModel)]="ItemCode" class="form-control form-control-sm"
                                    placeholder="{{'ItemCode'|translate}}">
                                <div class="input-group-append has-seprate-btn ml-1">
                                    <!-- <button class="k-button k-primary btn" (click)="getPalletList()" type="button">
                                        <i class="opti-icon-hammenu"></i>
                                    </button> -->

                                    <!-- <button class="k-button k-primary btn separate-btn" type="button" (click)="showSelectedPallets()"
                                        *ngIf="savedPalletItems.length>0">
                                        <i class="opti-icon-view-batch mr-1"></i>{{'Plt_Pallets'|translate}}
                                    </button> -->
                                    <button tabindex="-1" type="button" id="OutOrderItemCodeScanButton" (mousedown)="onItemScan()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                        <i class="opti-icon-qr-code fs-24"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
                   <div *ngIf ="temoraryHideItemLookupRow" class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                    <div class="form-group row">
                        <label for="orderNumber" class="col-sm-3 col-form-label">{{'Item'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" name="itemNo" (blur)="OnItemCodeChange()" value=''
                                    [(ngModel)]="selectedItem" class="form-control form-control-sm"
                                    placeholder="{{'Item'|translate}}">
                                <div class="input-group-append has-seprate-btn">
                                    <button tabindex="-1" class="k-button k-primary btn" (mousedown)="getItemList()" type="button">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                    <!-- <button class="k-button k-primary btn separate-btn"
                                                (click)="openSOOrderList()" type="button">
                                                <i class="opti-icon-search"></i>
                                            </button> -->
                                    <button tabindex="-1" type="button" id="OutOrderItemscanButton" (mousedown)="onItemScan()"
                                        class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                        <i class="opti-icon-qr-code fs-24"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <!-- temporary grid for show selected pallet -->
            <div class="row">
                <div class="col-sm-12">
                    <kendo-grid  *ngIf="showTemporaryViews && showPalletGrid" class="no-shadow" [data]="savedPalletItems" [resizable]="true" [pageSize]="pageSize"
                        [pageable]="pagable" [sortable]="true" [selectable]="true" id="newGrid"
                        #newGrid>
                        <!-- grid for mobile start -->
                        <kendo-grid-column media="(max-width: 767px)" title="{{'ProdIssue_SelectedMaterials'|translate}}" class="opti_mobile-grid-td">
                        </kendo-grid-column>
                        <!-- grid for mobile end -->
                        <kendo-grid-column media="(min-width: 768px)" field="Pallet"
                            title="{{'Outbound_Pallet'| translate}}" [width]="30"></kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" field="ITEMCODE"
                            title="{{'ItemCode'|translate}}" [width]="30"></kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" field="QTY"
                            title="{{'Quantity'|translate}}" [width]="30"></kendo-grid-column>
                    </kendo-grid>
                </div>
            </div> 
        </div>
            <div *ngIf="showSOIetDetail==true && orderNumber!=undefined">
                <!-- Serial tracked item -->
                <div class="row" *ngIf="soItemsDetail!=undefined && soItemsDetail!=null && soItemsDetail.length>0 ">
                    <div class="col-12 col-sm-12 col-md-12">
                        <div class="d-flex align-items-center">
                            <h4 class="mt-2 mb-2  mt-md-0">{{'Items'|translate}}</h4>
                            <ul class="color-label mt-2 mt-md-0 ml-auto mb-2">
                                <li><span class="color-block blue"></span><span>Batch</span></li>
                                <li><span class="color-block red"></span><span>Serial</span></li>
                                <li><span class="color-block "></span><span>None</span></li>
                            </ul>
                        </div>
                        <div class="col-12 mb-2 border-bottom"></div>
                        <kendo-grid class="no-shadow" [kendoGridBinding]="soItemsDetail" [resizable]="true"
                            [pageSize]="pageSize" [pageable]="pagable" [sortable]="true" [filterable]=isColumnFilter
                            [groupable]=isColumnGroup [height]=gridHeight [selectable]="true" [rowClass]="rowCallback"
                            (selectionChange)="openPOByUOM($event,soItemsDetail.ITEMCODE)" #gridItem>

                            <!-- grid for mobile start -->
                            <kendo-grid-column media="(max-width: 767px)" title="{{'Items'|translate}}"
                                class="opti_mobile-grid-td">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <dl class="opti_mobile_grid_dl">
                                            <dt class="d-flex align-items-center">{{'LINENUM'|translate}} <span
                                                class="opti_arrow-grid-detail float-right text-center opti_vertical-align ml-auto">›</span>
                                        </dt>
                                        <dd>{{ dataItem.ROWNUM|numberFormat }}</dd>

                                        <dt>{{'ItemCode'|translate}}</dt>
                                        <dd>{{ dataItem.ITEMCODE }}</dd>

                                   
                                    </dl>
                                    <dl class="opti_mobile_grid_dl">
                                        <dt class="d-flex align-items-center">{{'OpenQty'|translate}} <span
                                                class="opti_arrow-grid-detail float-right text-center opti_vertical-align ml-auto">›</span>
                                        </dt>
                                        <dd>{{ dataItem.OPENQTY|numberFormat }}</dd>

                                        <dt>{{'PickQty'|translate}}</dt>
                                        <dd>{{ dataItem.RPTQTY|numberFormat }}</dd>
                                     </dl>
                                </ng-template>
                            </kendo-grid-column>
                            <!-- grid for mobile end -->

                            <kendo-grid-column media="(min-width: 768px)" field="ROWNUM"
                            title="{{'LINENUM'|translate}}" [width]="6">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                    <a class="col-template-mousedown" (mousedown)="openPOByUOM(dataItem,dataItem.ITEMCODE)">{{dataItem.ROWNUM}}</a>
                            </ng-template>    
                        </kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" field="ITEMCODE"
                                title="{{'ItemCode'|translate}}" [width]="6">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                        <a class="col-template-mousedown" (mousedown)="openPOByUOM(dataItem,dataItem.ITEMCODE)">{{dataItem.ITEMCODE}}</a>
                                </ng-template>                            
                            
                            </kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" field="OPENQTY" headerClass="text-right"
                                class="text-right" [width]="6" title="{{'OpenQty'|translate}}">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                        <a class="col-template-mousedown" (mousedown)="openPOByUOM(dataItem,dataItem.ITEMCODE)">{{dataItem.OPENQTY | numberFormat}}</a>                                   
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" field="RPTQTY" headerClass="text-right"
                                class="text-right" [width]="6" format="{0:n3}" title="{{'PickQty'|translate}}">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                        <a class="col-template-mousedown" (mousedown)="openPOByUOM(dataItem,dataItem.ITEMCODE)">{{dataItem.RPTQTY | numberFormat}}</a>
                                </ng-template>
                            </kendo-grid-column>
                          

                        </kendo-grid>
                    </div>
                </div>

            </div>
        </div>
        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">

                <button type="button" *ngIf="fromWhere!='itr'" class="btn btn-outline-secondary btn-sm btn-transparent btn-icon mr-1"
                    (mousedown)="openOutboundCustomer()" roterLink="binTransfer" skipLocationChange><i
                        class="opti-icon-arrow-back"></i></button>

                <!-- *ngIf='outbound.TempMeterials!==undefined && outbound.TempMeterials!==null && outbound.TempMeterials.length>0;'' -->
                <button type="button" *ngIf="showDeleiveryAndAdd && fromWhere!='itr'" (mousedown)="addToDeleiver()"
                    class="btn btn-primary k-button btn-sm btn-icon-with-text ml-1"><span
                        class="k-icon k-i-plus-outline" role="presentation"></span>
                    {{'AddToDeleiver'|translate}}</button>

                <button type="button" *ngIf="showDeleiveryAndAdd && fromWhere!='itr'" (mousedown)="DeliveryClick()" class="btn btn-success k-button btn-sm btn-icon-with-text"><span
                        class="k-icon k-i-check" role="presentation"></span> {{'Deleiver'|translate}}</button>
                
                <button type="button" *ngIf="fromWhere=='itr'" (mousedown)="cancel()" class="btn btn-danger k-button btn-sm btn-icon-with-text"><span
                        class="k-icon k-i-close-outline" role="presentation"></span> {{'Cancel'|translate}}</button>

                <button type="button" *ngIf="showDeleiveryAndAdd && fromWhere=='itr'" (mousedown)="itrClick()" class="btn btn-success k-button btn-sm btn-icon-with-text"><span
                        class="k-icon k-i-check" role="presentation"></span> {{'Submit'|translate}}</button>
                <!-- <button type="button" (click)="showPalletsList()" class="btn btn-success k-button btn-sm btn-icon-with-text"><span
                        class="k-icon k-i-check" role="presentation"></span>{{btnText}}</button> -->
                <!-- <button type="button" *ngIf="showDeleiveryAndAdd" (click)="deliveryConfirmation()"
                    class="btn btn-success k-button btn-sm btn-icon-with-text"><span class="k-icon k-i-check"
                        role="presentation"></span> {{'Deleiver'|translate}}</button> -->
                <button *ngIf="showTemporaryViews"  type="button"  (mousedown)="showPalletsList()"
                   class="btn btn-success k-button btn-sm btn-icon-with-text"><span class="k-icon k-i-check"
                     role="presentation"></span>{{btnText}}</button>



                     <button type="button" id="hid_btnOutOrderSoScanScanBtn" style="visibility:hidden"
                     (click)="onHiddenOutOrderSOScanClick()"
                     class="btn btn-primary k-button btn-sm btn-icon-with-text mr-0.5">
                     <i [ngClass]="manageEyeIcon? 'opti-icon-eye mr-2':'opti-icon-eye-off mr-2'"></i>btn
                 </button> 
                 <button type="button" id="hid_btnOutOrderPalletScanScanBtn" style="visibility:hidden"
                     (click)="onHiddenOutOrderPalletScanClick()"
                     class="btn btn-primary k-button btn-sm btn-icon-with-text mr-0.5">
                     <i [ngClass]="manageEyeIcon? 'opti-icon-eye mr-2':'opti-icon-eye-off mr-2'"></i>btn
                 </button>
                 <button type="button" id="hid_btnOutOrderItemCodeScanScanBtn" style="visibility:hidden"
                     (click)="onHiddenOutOrderItemCodeScanClick()"
                     class="btn btn-primary k-button btn-sm btn-icon-with-text mr-0.5">
                     <i [ngClass]="manageEyeIcon? 'opti-icon-eye mr-2':'opti-icon-eye-off mr-2'"></i>btn
                 </button>
                 
                 <!--for ITR-->
                 <button type="button" id="hid_btnITRScanBtn" style="visibility:hidden"
                 (click)="onHiddenITRScanClick()"
                 class="btn btn-primary k-button btn-sm btn-icon-with-text mr-0.5">
                 <i [ngClass]="manageEyeIcon? 'opti-icon-eye mr-2':'opti-icon-eye-off mr-2'"></i>btn
             </button>
            </div>
        </div>
    </form>
</div>

<kendo-dialog [width]="750" *ngIf="dialogOpened" (close)="close('dialog')" [minWidth]="250" [width]="450">
    <kendo-dialog-titlebar>
        {{'Plt_SelectedPallets'|translate}}
    </kendo-dialog-titlebar>
    <kendo-grid [resizable]="true" [pageSize]="pageSize" [pageable]="pagable" [sortable]="true" [filterable]=isColumnFilter
        [groupable]=isColumnGroup [selectable]="true" [data]="palletList" style="max-height:200px" class="no-shadow"
        #gridItem>

        <!-- grid for mobile start -->
        <kendo-grid-column media="(max-width: 767px)" title="{{'Plt_Pallets'|translate}}" class="opti_mobile-grid-td">
            <ng-template kendoGridCellTemplate let-dataItem>
                <dl class="opti_mobile_grid_dl">
                    <dt>{{'Plt_PalletNo'|translate}}</dt>
                    <dd>{{ dataItem.Pallet }}</dd>
                </dl>
                <dl class="opti_mobile_grid_dl">
                    <dt class="d-flex align-items-center">
                        <button class="btn btn-danger k-button btn-sm btn-icon ml-auto" type="button" (click)="showSelectedPallets(rowIndex, gridItem)">
                            <span class="k-icon k-i-delete"></span>
                        </button>
                    </dt>
                </dl>
            </ng-template>
        </kendo-grid-column>
        <!-- grid for mobile end -->

        <kendo-grid-column media="(min-width: 768px)" field="Pallet" title="{{'Plt_PalletNo'|translate}}">
        </kendo-grid-column>
        <kendo-grid-column media="(min-width: 768px)" field="" headerClass="text-center" class="text-center" width="40">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button class="btn btn-danger k-button btn-sm btn-icon" type="button" (click)="PalletDeleteClick(rowIndex, gridItem)">
                    <span class="k-icon k-i-delete"></span>
                </button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
    <kendo-dialog-actions class="text-right">
        <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text" (click)="close('dialog')">
            <span class="k-icon k-i-close-outline" role="presentation"></span> {{'Cancel'|translate}}</button>
    </kendo-dialog-actions>
</kendo-dialog>

<span *ngIf="showLookup==true && showLookupLoader==false">
    <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupkey)="getLookupValue($event)"></app-lookup>
</span>

<!-- Loader -->
<div class="opti_loader full-section" *ngIf="showLookupLoader==true">
    <div class="opti_spinner"></div>
</div>

<!-- Dialog -->
<span *ngIf="showConfirmDialog">
    <app-comon-confirm-dialog [titleMessage]="dialogMsg" [fromWhere]="dialogFor" [noButtonText]="noButtonText"
        [yesButtonText]="yesButtonText" (isYesClick)="getConfirmDialogValue($event)"></app-comon-confirm-dialog>
</span>