<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'DeleiveryToCustomer'|translate}}: {{selectedCustomer.CustomerName}}
            </h3>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'OrderNo'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" name="orderNumber" value='' [(ngModel)]="orderNumber" class="form-control form-control-sm"
                                    placeholder="{{'OrderNo'|translate}}">
                                <div class="input-group-append">
                                    <button class="k-button k-primary btn" (click)="openOrderLookup()" type="button">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                                <div class="input-group-append">
                                    <button class="k-button k-primary btn" [disabled]="orderNumber==null || orderNumber==''" (click)="openSOOrderList()" type="button">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="showSOIetDetail==true">
                <!-- Serial tracked item -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12">
                        <h4 class="mb-3 mt-3 mb-3 mt-3 border-bottom pb-2">{{'SerialTrackedItem'|translate}}</h4>
                        
                        <kendo-grid class="no-shadow"  [kendoGridBinding]="gridData" [resizable]="false" [pageSize]="selectedValue"
                            [pageable]="true" [sortable]="true" [filterable]=isColumnFilter [groupable]=isColumnGroup
                            [columnMenu]="{ columnChooser: false }" [height]=gridHeight [selectable]="true" #gridItem>

                            <!-- grid for mobile start -->
                            <!-- <kendo-grid-column media="(max-width: 767px)" title="Payment List" class="opti_mobile-grid-td">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <dl class="opti_mobile_grid_dl">
                                        <dt>Item Code</dt>
                                        <dd>{{ dataItem.QuotationNumber }}</dd>

                                        <dt>Open Qty.</dt>
                                        <dd>{{ dataItem.QuotationDate }}</dd>

                                        <dt>Pick Qty</dt>
                                        <dd>{{ dataItem.Remark }}</dd>
                                    </dl>
                                </ng-template>
                            </kendo-grid-column> -->
                            <!-- grid for mobile end -->

                            <kendo-grid-column field="ITEMCODE" title="Item Code"
                                [width]="160"></kendo-grid-column>                           
                            <kendo-grid-column field="OPENQTY" [width]="160" title="Open Qty."></kendo-grid-column>
                            <kendo-grid-column field="OPENQTY" [width]="160" title="Pick Qty."></kendo-grid-column>

                        </kendo-grid>
                    </div>
                </div>
                <!-- Batch tracked item -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12">
                        
                        <h4 class="mb-3 mt-5 mb-3 mt-3 border-bottom pb-2">{{'BatchTrackedItem'|translate}}</h4>
                        <kendo-grid class="no-shadow"  [kendoGridBinding]="gridData" [resizable]="false" [pageSize]="selectedValue"
                            [pageable]="true" [sortable]="true" [filterable]=isColumnFilter [groupable]=isColumnGroup
                            [columnMenu]="{ columnChooser: false }" [height]=gridHeight [selectable]="true" #gridItem>

                            <!-- grid for mobile start -->
                            <!-- <kendo-grid-column media="(max-width: 767px)" title="Payment List" class="opti_mobile-grid-td">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <dl class="opti_mobile_grid_dl">
                                        <dt>Item Code</dt>
                                        <dd>{{ dataItem.QuotationNumber }}</dd>

                                        <dt>Open Qty.</dt>
                                        <dd>{{ dataItem.QuotationDate }}</dd>

                                        <dt>Pick Qty</dt>
                                        <dd>{{ dataItem.Remark }}</dd>
                                    </dl>
                                </ng-template>
                            </kendo-grid-column> -->
                            <!-- grid for mobile end -->

                            <kendo-grid-column field="ITEMCODE" title="Item Code"
                                [width]="160"></kendo-grid-column>                           
                            <kendo-grid-column field="OPENQTY" [width]="160" title="Open Qty."></kendo-grid-column>
                            <kendo-grid-column field="OPENQTY" [width]="160" title="Pick Qty."></kendo-grid-column>

                        </kendo-grid>
                    </div>
                </div>
                <!-- None Tracked -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12">
                        
                        <h4 class="mb-3 mt-5 mb-3 mt-3 border-bottom pb-2">{{'NoneTrackedItem'|translate}}</h4>
                        <kendo-grid class="no-shadow" [kendoGridBinding]="gridData" [resizable]="false" [pageSize]="selectedValue"
                            [pageable]="true" [sortable]="true" [filterable]=isColumnFilter [groupable]=isColumnGroup
                            [columnMenu]="{ columnChooser: false }" [height]=gridHeight [selectable]="true" #gridItem>

                            <!-- grid for mobile start -->
                            <!-- <kendo-grid-column media="(max-width: 767px)" title="Payment List" class="opti_mobile-grid-td">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <dl class="opti_mobile_grid_dl">
                                        <dt>Item Code</dt>
                                        <dd>{{ dataItem.QuotationNumber }}</dd>

                                        <dt>Open Qty.</dt>
                                        <dd>{{ dataItem.QuotationDate }}</dd>

                                        <dt>Pick Qty</dt>
                                        <dd>{{ dataItem.Remark }}</dd>
                                    </dl>
                                </ng-template>
                            </kendo-grid-column> -->
                            <!-- grid for mobile end -->

                            <kendo-grid-column field="ITEMCODE" title="Item Code"
                                [width]="160"></kendo-grid-column>                           
                            <kendo-grid-column field="OPENQTY" [width]="160" title="Open Qty."></kendo-grid-column>
                            <kendo-grid-column field="OPENQTY" [width]="160" title="Pick Qty."></kendo-grid-column>

                        </kendo-grid>
                    </div>
                </div>
            </div>
        </div>
        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">
                <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text"><span class="k-icon k-i-close-outline"
                        role="presentation"></span> {{'Cancel'|translate}}</button>
                <button type="button" class="btn btn-light k-button btn-sm btn-transparent btn-icon" (click)="listClick($event, 'binTransfer')"
                    roterLink="binTransfer" skipLocationChange><i class="opti-icon-arrow-next"></i></button>
            </div>
        </div>
    </form>
</div>

<span *ngIf="showLookup==true">
    <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupkey)="getLookupValue($event)"></app-lookup>
</span>