.color-label{
    padding: 0;
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: flex-end;
    justify-content: flex-end;
}
.color-label li{
    display: flex;
    align-items: center;
}
.color-label li span.color-block{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #bfbfbf;
    margin-right: 10px;
}
.color-label li span.color-block + span{
    padding-right: 10px;
    color:#666;
}
.color-label li span.red{
    background-color: #ffcece
}
.color-label li span.blue{
    background-color: #b6def9
}
.color-label li span.green{
    background-color: #b6f9c4
}

