<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'Outbound_DeleiveryToCustomer'|translate}}: {{selectedCustomer.CustomerName}}
            </h3>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'Outbound_SO'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" name="orderNumber" (blur)="onOrderNoBlur()" value=''
                                    [(ngModel)]="orderNumber" class="form-control form-control-sm"
                                    placeholder="{{'Outbound_SO'|translate}}">
                                <div class="input-group-append has-seprate-btn">
                                    <button class="k-button k-primary btn" (click)="openOrderLookup()" type="button">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                    <button class="k-button k-primary btn separate-btn" (click)="openSOOrderList()"
                                        type="button">
                                        <i class="opti-icon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                    <div class="form-group row">
                        <label for="orderNumber" class="col-sm-3 col-form-label">{{'Plt_PalletNo'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" #PalletNo name="pltNo" (blur)="onPalletChange()" value=''
                                    [(ngModel)]="palletNo" class="form-control form-control-sm"
                                    placeholder="{{'Plt_PalletNo'|translate}}">
                                <div class="input-group-append has-seprate-btn">
                                    <button class="k-button k-primary btn" (click)="getPalletList()" type="button">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                    <!-- <button class="k-button k-primary btn separate-btn"
                                            (click)="openSOOrderList()" type="button">
                                            <i class="opti-icon-search"></i>
                                        </button> -->
                                    <button type="button" id="poscanButton" (click)="onPalletScan()"
                                        class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                        <i class="opti-icon-qr-code fs-24"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                    <div class="form-group row">
                        <label for="orderNumber" class="col-sm-3 col-form-label">{{'Item'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" name="itemNo" (blur)="OnItemCodeChange()" value=''
                                    [(ngModel)]="selectedItem" class="form-control form-control-sm"
                                    placeholder="{{'Item'|translate}}">
                                <div class="input-group-append has-seprate-btn">
                                    <button class="k-button k-primary btn" (click)="getItemList()" type="button">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                    <!-- <button class="k-button k-primary btn separate-btn"
                                                (click)="openSOOrderList()" type="button">
                                                <i class="opti-icon-search"></i>
                                            </button> -->
                                    <button type="button" id="poscanButton" (click)="onItemScan()"
                                        class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                        <i class="opti-icon-qr-code fs-24"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            <div class="row">
                <div class="col-sm-12">
                    <kendo-grid  *ngIf="showPalletGrid" class="no-shadow" [data]="savedPalletItems" [resizable]="true" [pageSize]="pageSize"
                        [pageable]="pagable" [sortable]="true" [selectable]="true" id="newGrid"
                        #newGrid>
                        <!-- grid for mobile start -->
                        <kendo-grid-column media="(max-width: 767px)" title="{{'ProdIssue_SelectedMaterials'|translate}}" class="opti_mobile-grid-td">
                        </kendo-grid-column>
                        <!-- grid for mobile end -->
                        <kendo-grid-column media="(min-width: 768px)" field="Pallet"
                            title="{{'Outbound_Pallet'| translate}}" [width]="30"></kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" field="ITEMCODE"
                            title="{{'ItemCode'|translate}}" [width]="30"></kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" field="QTY"
                            title="{{'Quantity'|translate}}" [width]="30"></kendo-grid-column>
                    </kendo-grid>
                </div>
            </div> 
        </div>
            <div *ngIf="showSOIetDetail==true && orderNumber!=undefined">
                <!-- Serial tracked item -->
                <div class="row" *ngIf="soItemsDetail!=undefined && soItemsDetail!=null && soItemsDetail.length>0 ">
                    <div class="col-12 col-sm-12 col-md-12">
                        <div class="d-flex align-items-center">
                            <h4 class="mt-2 mb-2  mt-md-0">{{'Items'|translate}}</h4>
                            <ul class="color-label mt-2 mt-md-0 ml-auto mb-2">
                                <li><span class="color-block blue"></span><span>Batch</span></li>
                                <li><span class="color-block red"></span><span>Serial</span></li>
                                <li><span class="color-block "></span><span>None</span></li>
                            </ul>
                        </div>
                        <div class="col-12 mb-2 border-bottom"></div>
                        <kendo-grid class="no-shadow" [kendoGridBinding]="soItemsDetail" [resizable]="true"
                            [pageSize]="pageSize" [pageable]="pagable" [sortable]="true" [filterable]=isColumnFilter
                            [groupable]=isColumnGroup [height]=gridHeight [selectable]="true" [rowClass]="rowCallback"
                            (selectionChange)="openPOByUOM($event,soItemsDetail.ITEMCODE)" #gridItem>

                            <!-- grid for mobile start -->
                            <kendo-grid-column media="(max-width: 767px)" title="{{'Items'|translate}}"
                                class="opti_mobile-grid-td">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <dl class="opti_mobile_grid_dl">
                                        <dt>{{'ItemCode'|translate}}</dt>
                                        <dd>{{ dataItem.ITEMCODE }}</dd>

                                        <dt>{{'PickQty'|translate}}</dt>
                                        <dd>{{ dataItem.RPTQTY|numberFormat }}</dd>
                                    </dl>
                                    <dl class="opti_mobile_grid_dl">
                                        <dt class="d-flex align-items-center">{{'OpenQty'|translate}} <span
                                                class="opti_arrow-grid-detail float-right text-center opti_vertical-align ml-auto">›</span>
                                        </dt>
                                        <dd>{{ dataItem.OPENQTY|numberFormat }}</dd>
                                    </dl>
                                </ng-template>
                            </kendo-grid-column>
                            <!-- grid for mobile end -->

                            <kendo-grid-column media="(min-width: 768px)" field="ITEMCODE"
                                title="{{'ItemCode'|translate}}" [width]="6"></kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" field="OPENQTY" headerClass="text-right"
                                class="text-right" [width]="6" title="{{'OpenQty'|translate}}">
                                <ng-template kendoGridCellTemplate let-dataItem>{{dataItem.OPENQTY | numberFormat}}
                                </ng-template>

                            </kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" field="RPTQTY" headerClass="text-right"
                                class="text-right" [width]="6" format="{0:n3}" title="{{'PickQty'|translate}}">
                                <ng-template kendoGridCellTemplate let-dataItem>{{dataItem.RPTQTY | numberFormat}}
                                </ng-template>
                            </kendo-grid-column>


                        </kendo-grid>
                    </div>
                </div>

            </div>
        </div>
        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">

                <button type="button" class="btn btn-outline-secondary btn-sm btn-transparent btn-icon mr-1"
                    (click)="openOutboundCustomer()" roterLink="binTransfer" skipLocationChange><i
                        class="opti-icon-arrow-back"></i></button>

                <!-- *ngIf='outbound.TempMeterials!==undefined && outbound.TempMeterials!==null && outbound.TempMeterials.length>0;'' -->
                <button type="button" *ngIf="showDeleiveryAndAdd" (click)="addToDeleiver()"
                    class="btn btn-primary k-button btn-sm btn-icon-with-text ml-1"><span
                        class="k-icon k-i-plus-outline" role="presentation"></span>
                    {{'AddToDeleiver'|translate}}</button>

                <button type="button" *ngIf="showDeleiveryAndAdd" (click)="deliveryConfirmation()"
                    class="btn btn-success k-button btn-sm btn-icon-with-text"><span class="k-icon k-i-check"
                        role="presentation"></span> {{'Deleiver'|translate}}</button>
                <button type="button"  (click)="showPalletsList()"
                   class="btn btn-success k-button btn-sm btn-icon-with-text"><span class="k-icon k-i-check"
                     role="presentation"></span>{{btnText}}</button>
            </div>
        </div>
    </form>
</div>

<span *ngIf="showLookup==true && showLookupLoader==false">
    <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupkey)="getLookupValue($event)"></app-lookup>
</span>

<!-- Loader -->
<div class="opti_loader full-section" *ngIf="showLookupLoader==true">
    <div class="opti_spinner"></div>
</div>

<!-- Dialog -->
<span *ngIf="showConfirmDialog">
    <app-comon-confirm-dialog [titleMessage]="dialogMsg" [fromWhere]="dialogFor" [noButtonText]="noButtonText"
        [yesButtonText]="yesButtonText" (isYesClick)="getConfirmDialogValue($event)"></app-comon-confirm-dialog>
</span>