<div class="opti_container position-relative bg-white rounded" >
  <form class="form-with-fix-btnBar"  *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'GoodsReciptPO'|translate}}
            </h3>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'VendCode'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="VendCode" 
                                [(ngModel)]="VendCode" placeholder="{{'VendCode'|translate}}" (blur)="OnVendorChange()">
                                <div class="input-group-append">
                                    <button class="k-button k-primary btn" type="button" (click)="onVendorLookupClick()">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'Name'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="VendName" [(ngModel)]="VendName" [disabled]="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Kendo Table Grid Row start -->
            <div class="row" *ngIf = "showGRPOGridAndBtn">
                <div class="col-12 col-sm-12 col-md-12" >
                    <kendo-grid class="no-shadow" [kendoGridBinding]="Polist" [resizable]="true" [pageSize]="2" [sortable]="true"
                        [height]=gridHeight
                        [selectable]="true" (selectionChange)="onPOSelection($event)" #gridItem>
                        <kendo-grid-column field="PONumber" headerClass="text-center" class="text-center" title="{{'PurchaseOrderNumber'|translate}}"></kendo-grid-column>
                        <kendo-grid-column field="" title="" [width]="50">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <button class="k-button-icon k-button" type="button" (click)="openConfirmForDelete(rowIndex, gridItem)">
                                    <span class="k-icon k-i-delete"></span>
                                </button>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid>
                </div>
            </div>
            <!-- Kendo Table Grid Row end -->

        </div>
        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">                      
                    <button  *ngIf = "showGRPOGridAndBtn" class="btn btn-success k-button btn-sm btn-icon-with-text" type="button" (click)="receive()"><span class="k-icon k-i-check" role="presentation"></span> {{'Receive'|translate}}</button>
                <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text" (click)="OnCancelClick()"><span class="k-icon k-i-close-outline" role="presentation"></span> {{'Cancel'|translate}}</button>
                <button type="button" class="btn btn-outline-secondary btn-sm btn-transparent btn-icon" (click)="onNextClick()" roterLink="binTransfer" skipLocationChange><i class="opti-icon-arrow-next"></i></button>
            </div>
        </div>
  </form>

 

  <!-- <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{'Confirm'|translate}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        {{'DoYouWantToDeleteAllTheLines'|translate}}
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary k-button btn-sm" type="button">{{'Ok'|translate}}</button>
      <button class="btn btn-default k-button btn-sm" type="button">{{'Close'|translate}}</button>
    </div>
  </ng-template> -->
</div>   
<span *ngIf="showLookupLoader == false">
    <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-lookup>
</span>

<span *ngIf="showConfirmDialog">
        <app-comon-confirm-dialog [titleMessage]="dialogMsg" 
        [yesButtonText]="yesButtonText" [fromWhere] ="dialogFor"  [noButtonText]="noButtonText" (isYesClick)="getConfirmDialogValue($event)"></app-comon-confirm-dialog>
        </span>