<div class="opti_container position-relative bg-white rounded">
  <form class="form-with-fix-btnBar" >
      <div class="opti_container_inner" [perfectScrollbar]=" ">

          <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
              {{'binLabelReport'|translate}}
          </h3>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">

                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">{{'FromBin'|translate}}</label>
                    <div class="col-sm-9">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control form-control-sm" #fromBinIp=ngModel
                             [(ngModel)] ='fromBin' (blur)="OnFromBinChange()" name ='fromBin' placeholder="{{'FromBin'|translate}}">
                            <div class="input-group-append">
                                <button class="k-button k-primary btn" type="button"  (click)="OnFromBinLookupClick()">
                                    <i class="opti-icon-hammenu"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">{{'ToBin'|translate}}</label>
                  <div class="col-sm-9">
                      <div class="input-group input-group-sm">
                          <input type="text" (blur)="OnToBinChange()" class="form-control form-control-sm" [(ngModel)]='toBin' #toBinIp=ngModel
                           name ='toBin' placeholder="{{'ToBin'|translate}}">
                          <div class="input-group-append">
                              <button class="k-button k-primary btn" type="button" (click)="OnToBinLookupClick()">
                                  <i class="opti-icon-hammenu"></i>
                              </button>
                          </div> 
                      </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">{{'noOfCopies'|translate}}</label>
                  <div class="col-sm-9">
                    <input type="text"   [(ngModel)]="noOfCopies" #numberOfCopiesIp=ngModel class="form-control form-control-sm" name ='customerCode' placeholder="{{'noOfCopies'|translate}}">
                  </div>
                </div>

            </div>
        </div>
    </div>
    <div class="fix-footer-btnBar">
        <div class="col-sm-12 col-12">
            <hr />
        </div>
        <div class="col-sm-12 col-12">
            <button type="button"  (click)="OnPrintClick()" class="btn btn-success k-button btn-sm btn-icon-with-text"><span class="k-icon k-i-printer"
              role="presentation"></span> {{'Print'|translate}}</button>
            <button type="button" (click)="OnCancelClick()" class="btn btn-danger k-button btn-sm btn-icon-with-text"><span class="k-icon k-i-close-outline"
              role="presentation"></span> {{'Cancel'|translate}}</button>
        </div>
    </div>
  </form>
</div>
<div *ngIf="showLookupLoader == false">
        <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-lookup>
</div>
<div>
    <app-display-pdf *ngIf ="displayPDF" [base64String] = 'base64String' [fileName] = 'fileName'
        (redirectTo)="getValueOfRedirect($event)"></app-display-pdf>
</div>