<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4" *ngIf="!showSavedItems">
                {{'PhysicalCount'|translate}}
            </h3>
            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4" *ngIf="showSavedItems">
                {{'Items'|translate}}
            </h3>
            <div class="row" *ngIf="!showSavedItems">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'DocNo'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" placeholder="{{'DocNo'|translate}}" name="DocNo" [(ngModel)]="DocNo"
                                    [disabled]=true>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'CountDate'|translate}}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="{{'CountDate'|translate}}" name="CountDate" [(ngModel)]="CountDate"
                                [disabled]=true>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'Scan'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="d-flex">
                                <input class="form-control form-control-sm"  type="text" 
                                id="scanInputFieldPC" name="ScanInputs" 
                                [(ngModel)]=ScanInputs (blur)="onScanCodeChange()" placeholder="{{'Scan'|translate}}">
                                <div class="ml-1 d-flex">
                                    <button class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0" type="button"
                                    id="scanButtonPC"  (click)="onScanPC()" >
                                        <i class="opti-icon-qr-code fs-24"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'ItemCode'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="ItemCode" [(ngModel)]="ItemCode" placeholder="{{'ItemCode'|translate}}"
                                    (blur)="OnItemChange()">
                                <div class="input-group-append has-seprate-btn">
                                    <button class="k-button k-primary btn" type="button" (click)="onItemlookupClick()">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                    <button style="padding: 0 6px;font-size:16px" class="k-button k-primary btn separate-btn" type="button" (click)="viewSavedItems()"
                                        *ngIf="showitemlist">
                                        <i class="opti-icon-detail-view"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'Name'|translate}}</label>
                        <div class="col-sm-9">
                            <span></span>
                        </div>
                    </div> -->
                    <div class="form-group row" *ngIf="showItemName">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'Name'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="itemName" [(ngModel)]="itemName" [disabled]=true>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'BinNo'|translate}}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" name="BinNo" [(ngModel)]="BinNo" placeholder="{{'BinNo'|translate}}" [disabled]=true>
                        </div>
                    </div>

                    <div class="form-group row" *ngIf="!isNonTrack">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{batchNoPlaceholder}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="batchserno" [(ngModel)]="batchserno" placeholder="{{batchNoPlaceholder}}"
                                autocomplete="off"
                                    (blur)="OnLotChange()">

                                <div class="input-group-append has-seprate-btn">
                                    <button class="k-button k-primary btn" type="button" (click)="ShowBatachSerList()">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                    <button class="k-button k-primary btn separate-btn" type="button" (click)="showLotSerList()" *ngIf="showbatchser">
                                        <i class="opti-icon-view-batch mr-1"></i>{{batchSrBtn}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'QtyOnHand'|translate}}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm text-right" name="QtyOnHand" [(ngModel)]="QtyOnHand" placeholder="{{'QtyOnHand'|translate}}" [disabled]=true>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'CountedQty'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm text-right" name='CountedQty' [(ngModel)]="CountedQty" placeholder="{{'CountedQty'|translate}}"
                                    (blur)="onCountedQtyChanged()">
                                <div class="input-group-append">
                                    <button class="k-button k-primary btn" type="button" *ngIf="!isNonTrack" (click)="onAddItemClick()">
                                        <span class="k-icon k-i-plus-outline mr-1"></span>{{batchSrBtn}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'UoM'|translate}}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" name='UOM' [(ngModel)]="UOM" placeholder="{{'UoM'|translate}}" [disabled]=true>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'Counted'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="opti_input-group-checkbox">
                                <input type="checkbox" id="ch7" name='isCounted' [(ngModel)]="isCounted" class="k-checkbox" checked />
                                <label class="k-checkbox-label" for="ch7"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- static table added 09-05-2018 -->
            <div class="row" *ngIf="showSavedItems">
                <div class="col-12">

                    <kendo-grid [resizable]="true" [pageSize]="pageSize" [pageable]="pagable" [sortable]="true" [filterable]=isColumnFilter [groupable]=isColumnGroup
                        [height]=gridHeight [selectable]="true" [data]="ItemArray" style="max-height:400px" class="no-shadow"
                        #gridItem>

                        <!-- grid for mobile start -->
                        <kendo-grid-column media="(max-width: 767px)" title="{{'Items'|translate}}" class="opti_mobile-grid-td">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <dl class="opti_mobile_grid_dl">
                                    <dt>{{'DocNo'|translate}}</dt>
                                    <dd>{{ dataItem.DocNo }}</dd>

                                    <dt>{{'BinNo'|translate}}</dt>
                                    <dd>{{ dataItem.BinNo }}</dd>
                                </dl>
                                <dl class="opti_mobile_grid_dl">
                                    <dt class="d-flex align-items-center">{{'ItemCode'|translate}}
                                        <button class="btn btn-danger k-button btn-sm btn-icon ml-auto" type="button" (click)="ViewLinesRowDeleteClick(rowIndex, gridItem)">
                                            <span class="k-icon k-i-delete"></span>
                                        </button>
                                    </dt>
                                    <dd>{{ dataItem.ItemCode }}</dd>

                                    <dt>{{'ViewBatchSerial'|translate}}</dt>
                                    <dd>
                                        <button class="k-button k-primary simple-btn" type="button" (click)="ShowBatachSerListForClickRow(rowIndex, gridItem)">
                                            <i class="opti-icon-detail-view"></i>
                                        </button>
                                    </dd>
                                </dl>
                            </ng-template>
                        </kendo-grid-column>

                        <!-- grid for mobile end -->

                        <kendo-grid-column media="(min-width: 768px)" field="DocNo" title="{{'DocNo'|translate}}">
                        </kendo-grid-column>
                        <kendo-grid-column media="(min-width: 768px)" field="ItemCode" title="{{'ItemCode'|translate}}">
                        </kendo-grid-column>
                        <kendo-grid-column media="(min-width: 768px)" field="BinNo" title="{{'BinNo'|translate}}">
                        </kendo-grid-column>
                        <kendo-grid-column media="(min-width: 768px)" field="Discontinued" width="120" title="{{'ViewBatchSerial'|translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <button class="k-button k-primary simple-btn" type="button" (click)="ShowBatachSerListForClickRow(rowIndex, gridItem)">
                                    <i class="opti-icon-detail-view"></i>
                                </button>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column media="(min-width: 768px)" field="" headerClass="text-center" class="text-center" width="60">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <button class="btn btn-danger k-button btn-sm btn-icon" type="button" (click)="ItemListRowDeleteClick(rowIndex, gridItem)">
                                    <span class="k-icon k-i-delete"></span>
                                </button>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid>
                </div>
            </div>
            <!-- static table added 09-05-2018 -->

        </div>
        <div class="fix-footer-btnBar" *ngIf="!showSavedItems">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">
                <button type="button" class="btn btn-success k-button btn-sm btn-icon-with-text" (click)="onSubmitClick()">
                    <span class="k-icon k-i-check" role="presentation"></span> {{'Submit'|translate}}</button>
                <button type="button" class="btn btn-success k-button btn-sm btn-icon-with-text" (click)="onAddItemClick()">
                    <span class="k-icon k-i-plus-outline" role="presentation"></span> {{'Item'|translate}}</button>
                <button type="button" class="btn btn-Primary k-button btn-sm btn-icon-with-text" (click)="onSaveClick()">
                    <span class="k-icon k-i-save" role="presentation"></span> {{'Save&Next'|translate}}</button>
                <div class="clearfix mt-1 d-block d-sm-none"></div>
                <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text" (click)="onCancelClick()">
                    <span class="k-icon k-i-close-outline" role="presentation"></span> {{'Cancel'|translate}}</button>
                    <button type="button" id="hiddenScanButtonPC" style="visibility:hidden" (click)="onHiddenScanClick()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                            SB </button>
            </div>
        </div>
        <div class="fix-footer-btnBar" *ngIf="showSavedItems">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">
                <button type="button" class="btn btn-success k-button btn-sm btn-icon-with-text" (click)="loadFistPage()">
                    <span class="k-icon k-i-check" role="presentation"></span> {{'Ok'|translate}}
                </button>
            </div>
        </div>
    </form>
</div>


<kendo-dialog [width]="750" *ngIf="dialogOpened" (close)="close('dialog')" [minWidth]="250" [width]="450">
    <kendo-dialog-titlebar>
        Reported Quantities
    </kendo-dialog-titlebar>
    <p>{{ItemCodeTemp}}</p>
    <kendo-grid [resizable]="true" [pageSize]="pageSize" [pageable]="pagable" [sortable]="true" [filterable]=isColumnFilter [groupable]=isColumnGroup
        [height]=gridHeight [selectable]="true" [data]="BatchSerialArray" style="max-height:370px" class="no-shadow" #gridItem>

        <!-- grid for mobile start -->
        <kendo-grid-column media="(max-width: 767px)" title="{{'Items'|translate}}" class="opti_mobile-grid-td">
            <ng-template kendoGridCellTemplate let-dataItem>
                <dl class="opti_mobile_grid_dl">
                    <dt>{{'BatchSerial'|translate}}</dt>
                    <dd>{{ dataItem.LotNo }}</dd>

                    <dt>{{'CountedQty'|translate}}</dt>
                    <dd>{{ dataItem.QtyCounted }}</dd>
                </dl>
                <dl class="opti_mobile_grid_dl">
                    <dt class="d-flex align-items-center">{{'BinNo'|translate}}
                        <button class="btn btn-danger k-button btn-sm btn-icon ml-auto" type="button" (click)="ViewLinesRowDeleteClick(rowIndex, gridItem)">
                            <span class="k-icon k-i-delete"></span>
                        </button>
                    </dt>
                    <dd>{{ dataItem.BinNo }}</dd>

                    <dt>{{'QtyOnHand'|translate}}</dt>
                    <dd>{{ dataItem.InWhsQty }}</dd>
                </dl>
            </ng-template>
        </kendo-grid-column>
        <!-- grid for mobile end -->

        <kendo-grid-column *ngIf="trackingtemp != 'N'" media="(min-width: 768px)" field="LotNo" title="{{'BatchSerial'|translate}}" width="130">
        </kendo-grid-column>
        <kendo-grid-column media="(min-width: 768px)" field="BinNo" title="{{'BinNo'|translate}}" width="230">
        </kendo-grid-column>
        <kendo-grid-column media="(min-width: 768px)" field="QtyCounted" title="{{'CountedQty'|translate}}"
        class="text-right" headerClass="text-right">
        </kendo-grid-column>
        <kendo-grid-column media="(min-width: 768px)" field="InWhsQty" title="{{'QtyOnHand'|translate}}" width="100" class="text-right" headerClass="text-right">
        </kendo-grid-column>
        <kendo-grid-column media="(min-width: 768px)" field="" headerClass="text-center" class="text-center" width="80">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button class="btn btn-danger k-button btn-sm btn-icon" type="button" (click)="LotSerialDeleteClick(rowIndex, gridItem)">
                    <span class="k-icon k-i-delete"></span>
                </button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
    <kendo-dialog-actions class="text-right">
        <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text" (click)="close('dialog')">
            <span class="k-icon k-i-close-outline" role="presentation"></span> {{'Cancel'|translate}}</button>
    </kendo-dialog-actions>
</kendo-dialog>


<span *ngIf="showLookupLoader">
    <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-lookup>
</span>

<span *ngIf="showConfirmDialog">
    <app-comon-confirm-dialog [titleMessage]="dialogMsg" [yesButtonText]="yesButtonText" [fromWhere]="dialogFor" [noButtonText]="noButtonText"
        (isYesClick)="getConfirmDialogValue($event)"></app-comon-confirm-dialog>
</span>
<div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>
