<div class="opti_container position-relative bg-white rounded">
  <form class="form-with-fix-btnBar">
    <div class="opti_container_inner" [perfectScrollbar]=" ">
      <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
        {{'Plt_Depalletization'|translate}}
      </h3>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 col-form-label">{{'Plt_PalletNo'|translate}}</label>
            <div class="col-sm-9">
              <div class="input-group input-group-sm">
                <input type="text" name="fromPalletNo" id="Depalletize_PalletNoInput" (blur)="onPalletChange()" value='' [(ngModel)]="palletNo" class="form-control form-control-sm"
                  placeholder="{{'Plt_PalletNo'|translate}}">
                <div class="input-group-append has-seprate-btn">
                  <button class="k-button k-primary btn" (click)="getPalletList()" type="button">
                    <i class="opti-icon-hammenu"></i>
                  </button>
                  <button type="button" id="DePal_PalletScanButton" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                    <i class="opti-icon-qr-code fs-24"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="showHideGridToggle">
        <div class="col-12">
          <kendo-grid class="no-shadow" [data]="palletData" [resizable]="true" [sortable]="true">
            <!-- grid for mobile start -->
            <kendo-grid-column media="(max-width: 767px)" title="{{'Plt_PalletDetails'|translate}}" class="opti_mobile-grid-td">
              <ng-template kendoGridCellTemplate let-dataItem let-idx="rowIndex">
                <dl class="opti_mobile_grid_dl">
                  <dt>{{'Item'|translate}}</dt>
                  <dd>{{ dataItem.ITEMID }}</dd>
                  <dt>{{'BatchSerial_No'|translate}}</dt>
                  <dd>{{ dataItem.SRLBATCH }}</dd>
                </dl>
                <dl class="opti_mobile_grid_dl">
                  <dt>{{'Quantity'|translate}}</dt>
                  <dd>{{ dataItem.QTY }}</dd>
                </dl>
              </ng-template>
            </kendo-grid-column>
            <!-- grid for mobile end -->

            <kendo-grid-column media="(min-width: 768px)" field="ITEMID" title="{{'Item'|translate}}" [width]="18"></kendo-grid-column>
            <kendo-grid-column media="(min-width: 768px)" field="SRLBATCH" [width]="18" title="{{'BatchSerial_No'|translate}}"></kendo-grid-column>
            <kendo-grid-column media="(min-width: 768px)" field="QTY" headerClass="text-right" class="text-right"
              [width]="18" title="{{'Quantity'|translate}}">
              <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.QTY | numberFormat}}
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
        </div>
      </div>
    </div>

    <div class="fix-footer-btnBar">
      <div class="col-sm-12 col-12">
        <hr />
      </div>
      <div class="col-sm-12 col-12">
        <button type="button" (click)="back(0)" class="btn btn-danger k-button btn-sm btn-icon-with-text"><span class="k-icon k-i-close-outline"
            role="presentation"></span> {{'Cancel'|translate}}</button>
            <button type="button" id="showHideGrid" (click)="clickShowHideGrid()" class="btn btn-primary k-button btn-sm btn-icon-with-text mr-0.5">
                <i [ngClass]="manageEyeIcon? 'opti-icon-eye mr-2':'opti-icon-eye-off mr-2'"></i>  {{showHideBtnTxt}}
            </button>
        <button type="button" *ngIf="palletNo!=''" (click)="depalletize()" class="btn btn-success k-button btn-sm btn-icon-with-text">
          <span class="k-icon opti-icon-deplletization"></span>
          {{'Plt_Depalletize'|translate}}</button>
       
 
        <button type="button" id="DePal_HiddenScanPltBtn" style="visibility:hidden" (click)="ScanPalletField()"
                   class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                   SBItemDeP </button>
      </div>
    </div>
  </form>
</div>

<span *ngIf="showLookup==true">
  <app-lookup [lookupfor]='lookupFor' [serviceData]='serviceData' (lookupkey)="getLookupValue($event)"></app-lookup>
</span>

<!-- Loader -->
<div class="opti_loader full-section" *ngIf="showLoader==true">
  <div class="opti_spinner"></div>
</div>