@import '_base';

body {

    button{
        border-radius: 5px ;
        box-shadow: none;
        border: 1px solid;
        cursor: pointer ;
        padding: 5px 10px ;
        font-size: $font-size-small ;
        border: none;
        &:focus {
            outline: none;
        }
    }

    
}
body button + button:not(:last-child){
    margin: 0 5px 0 0;
}

.k-datepicker .k-select{
    margin: -1px -1px -1px 0;
    position: relative;
    z-index: 1;
}

button.btn.btn-outline-secondary.btn-sm.btn-transparent.btn-icon {
    border-color: #bfbfbf;
    color: #ffffff;
    border-radius: 5px;
    background-color: #c3c3c3;
    &:hover, &:active, &:focus {
        border-color: #afaeae;
        color: #ffffff;
        background-color: #a9a8a8;
    }
}