$icon-font-family: "OptiProErp" !default;
$icon-font-path: "../fonts" !default;


$opti-icon-detail-view: "\e943";
$opti-icon-view-batch: "\e944";
$opti-icon-wms-logo: "\e945";
$opti-icon-wms-logo-with-text: "\e946";
$opti-icon-qr-code: "\e942";
$opti-icon-time: "\e938";
$opti-icon-factory: "\e93a";
$opti-icon-warehouse-transfer: "\e93b";
$opti-icon-inventory-transfer: "\e93c";
$opti-icon-bin-transfer: "\e93d";
$opti-icon-issue: "\e93e";
$opti-icon-printer: "\e937";
$opti-icon-next: "\e933";
$opti-icon-previous: "\e934";
$opti-icon-up: "\e935";
$opti-icon-down: "\e936";
$opti-icon-outbound-order: "\e900";
$opti-icon-inbound-order: "\e901";
$opti-icon-open-Invoices: "\e902";
$opti-icon-customer: "\e903";
$opti-icon-home: "\e904";
$opti-icon-about-us: "\e905";
$opti-icon-link: "\e906";
$opti-icon-paperclip: "\e907";
$opti-icon-more: "\e908";
$opti-icon-upload: "\e909";
$opti-icon-download: "\e90a";
$opti-icon-attachment: "\e90b";
$opti-icon-save: "\e90c";
$opti-icon-flowchart: "\e90d";
$opti-icon-notifications: "\e90e";
$opti-icon-dashboard: "\e90f";
$opti-icon-hammenu: "\e910";
$opti-icon-search: "\e911";
$opti-icon-notes: "\e912";
$opti-icon-customer-purchase-order: "\e913";
$opti-icon-invoice: "\e914";
$opti-icon-delivery-notes: "\e915";
$opti-icon-sales-order: "\e916";
$opti-icon-advance-shipment-notes: "\e917";
$opti-icon-customer-contacts: "\e918";
$opti-icon-edit: "\e919";
$opti-icon-logout: "\e91a";
$opti-icon-user: "\e91b";
$opti-icon-vendor: "\e91c";
$opti-icon-download1: "\e91d";
$opti-icon-refresh-button: "\e91e";
$opti-icon-settings: "\e91f";
$opti-icon-arrow-back: "\e920";
$opti-icon-arrow-up: "\e93f";
$opti-icon-arrow-next: "\e940";
$opti-icon-arrow-down: "\e941";
$opti-icon-trash: "\e921";
$opti-icon-customer-contracts: "\e922";
$opti-icon-sales-quotations: "\e923";
$opti-icon-shopping-list: "\e924";
$opti-icon-purchase-Inquiries: "\e925";
$opti-icon-add: "\e926";
$opti-icon-close: "\e927";
$opti-icon-check: "\e928";
$opti-icon-cancel-1: "\e929";
$opti-icon-add1: "\e92a";
$opti-icon-remove: "\e92b";
$opti-icon-up-arrow: "\e92c";
$opti-icon-down-arrow: "\e92d";
$opti-icon-right-arrow: "\e92e";
$opti-icon-left-arrow: "\e92f";
$opti-icon-help: "\e930";
$opti-icon-question: "\e931";
$opti-icon-mobile-logo-old: "\e932";
$opti-icon-mobile-logo-old1: "\e939";

