$icomoon-font-family: "optiProEro" !default;
$icomoon-font-path: "../fonts" !default;

$opti-icon-open-Invoices: "\e900";
$opti-icon-customer: "\e901";
$opti-icon-about-us: "\e903";
$opti-icon-link: "\e904";
$opti-icon-paperclip: "\e905";
$opti-icon-more: "\e906";
$opti-icon-upload: "\e907";
$opti-icon-download: "\e908";
$opti-icon-attachment: "\e909";
$opti-icon-save: "\e90a";
$opti-icon-flowchart: "\e90b";
$opti-icon-notifications: "\e90c";
$opti-icon-dashboard: "\e90d";
$opti-icon-hammenu: "\e90e";
$opti-icon-notes: "\e910";
$opti-icon-customer-purchase-order: "\e911";
$opti-icon-invoice: "\e912";
$opti-icon-delivery-notes: "\e913";
$opti-icon-sales-order: "\e914";
$opti-icon-advance-shipment-notes: "\e915";
$opti-icon-customer-contacts: "\e916";
$opti-icon-edit: "\e917";
$opti-icon-logout: "\e918";
$opti-icon-user: "\e919";
$opti-icon-vendor: "\e91a";
$opti-icon-download1: "\e91b";
$opti-icon-refresh-button: "\e91c";
$opti-icon-settings: "\e91d";
$opti-icon-back: "\e91e";
$opti-icon-trash: "\e91f";
$opti-icon-customer-contracts: "\e920";
$opti-icon-sales-quotations: "\e922";
$opti-icon-shopping-list: "\e923";
$opti-icon-purchase-Inquiries: "\e924";
$opti-icon-home: "\e902";
$opti-icon-search: "\e90f";
$opti-icon-add: "\e925";
$opti-icon-close: "\e926";
$opti-icon-check: "\e927";
$opti-icon-cancel-1: "\e928";
$opti-icon-add1: "\e929";
$opti-icon-remove: "\e92a";
$opti-icon-up-arrow: "\e92b";
$opti-icon-down-arrow: "\e92c";
$opti-icon-right-arrow: "\e92d";
$opti-icon-left-arrow: "\e92e";
$opti-icon-help: "\e92f";
$opti-icon-question: "\e930";
$opti-icon-mobile-logo-old: "\e921";
$opti-icon-mobile-logo-old1: "\e939";

