@import '_typography-button-layout';
@import '_responsive';
@import '_custom-kendo';
@import '_common';
@import '_icons';
/////////////////////////////////////////////////////////////////////
/////////////////////////////Start Account CSS///////////////////////
/////////////////////////////////////////////////////////////////////
// can not move this css in specific component and and account css becuase here we are useing css on the basis of body and if we will call  in specific component than it will not work
// set password
// login
// signup
body.opti_account-module {
    position: relative;
    float: left;
    padding: 50px;
    width: 100%;
    &:before {
        background-image: url('/assets/images/signup/nouse/shutter/background2.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        width: 100%;
        content: "";
        left: 0;
        z-index: -1;
        -webkit-filter: blur(8px);
        filter: blur(8px);
        height: 100%;
    }
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background: #1e9af1;
        opacity: 0.3;
    }
}

/////////////////////////////////////////////////////////////////////
/////////////////////////////End Account CSS/////////////////////////
/////////////////////////////////////////////////////////////////////  
/////////////////////////////////////////////////////////////////////
/////////////////////////////Start Add Item CSS//////////////////////
/////////////////////////////////////////////////////////////////////
#opti_AddItemFormSectionID {
    kendo-datepicker {
        kendo-dateinput {
            width: calc(100% - 30px);
        }
        .k-dateinput-wrap,
        .k-select {
            border: none;
        }
        .k-picker-wrap {
            border-color: $input-border-color;
        }
    }
}

/////////////////////////////////////////////////////////////////////
/////////////////////////////end Add Item CSS////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////Start Purchase Inquiry//////////////////
/////////////////////////////////////////////////////////////////////
kendo-grid tr:hover dl span,
kendo-grid tr:hover dl span strong {
    color: white;
}

/////////////////////////////////////////////////////////////////////
/////////////////////////////end Purchase Inquiry//////////////////
/////////////////////////////////////////////////////////////////////
app-attachment,
app-attachment-item {
    kendo-grid {
        table {
            tbody {
                tr td:first-child {
                    text-align: center;
                    svg-icon {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

/////////////////////////////////////////////////////////////////////
/////////////////////////////start customer Purchase Order///////////
/////////////////////////////////////////////////////////////////////
app-customer-purchase-order-list,
file-drop {
    height: 100%;
    display: flex;
}

.opti_body-customer-purchase-order {
    file-drop #dropZone {
        height: auto;
        border: none;
        .content {
            height: auto;
        }
    }
}

/////////////////////////////////////////////////////////////////////
/////////////////////////////end customer Purchase Order/////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////some common css start///////////////////
/////////////////////////////////////////////////////////////////////
app-sales-order-detail-attachment {
    kendo-grid {
        table {
            tbody {
                tr td:first-child {
                    text-align: center;
                    svg-icon {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

/////////////////////////////////////////////////////////////////////
/////////////////////////////some common css end/////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////File drop css start/////////////////////
/////////////////////////////////////////////////////////////////////
#opti_SalesOrderDetailAttchment {
    file-drop #dropZone {
        margin: 0;
        height: auto;
        border: none;
        .content {
            height: auto;
        }
    }
}

#opti_SalesOrderDetailAttchment {
    .drop-zone {
        width: 100%;
        kendo-grid {
            width: 100%;
        }
    }
}

file-drop .drop-zone.over {
    background-color: transparent;
}

/////////////////////////////////////////////////////////////////////
/////////////////////////////File drop css start/////////////////////
////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////
///////////////////////////// Custom Form Style /////////////////////
////////////////////////////////////////////////////////////////////
.form-with-fix-btnBar{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 60px;
    .fix-footer-btnBar{
        position: absolute;
        padding-bottom: 15px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        z-index: 100;
        background-color: #fff;
        hr{
            margin-top: 0;
        }
    }
}
.col-form-label{
    padding-top: calc(.24rem + 1px);
    padding-bottom: calc(.24rem + 1px);
}
body .k-dateinput-wrap .k-input{
    font-size: .875rem;
    line-height: 1.5;
}
/////////////////////////////////////////////////////////////////////
///////////////////////////// Custom Button Style /////////////////////
////////////////////////////////////////////////////////////////////
.btn-danger.k-button{
    color:#fff;
    background-color: #ff0f31;
    &:hover, &:active, &:focus{
        background-color: #de102d;
        color:#fff;
    }
}
.btn-success.k-button{
    color:#fff;
    background-color: #11bf4f;
    &:hover, &:active, &:focus{
        background-color: #10a746;
        color:#fff;
    }
}
.k-button.btn-transparent{
    color:#999;
    background-color: transparent;
    &:hover, &:active, &:focus{
        background-color: transparent;
        color:#333;
    }
}
.k-button.btn-icon-with-text{
    & > .k-icon{
        margin-right: 5px;
    }
}
.k-button.btn-icon{
    font-size: 18px;
    & > .k-icon{
        margin-left: 5px;
    }
}
.input-group>.input-group-append.has-seprate-btn>.btn:first-child{
    border-radius: 0 0.25rem 0.25rem 0 !important;
}
.input-group>.input-group-append.has-seprate-btn>.btn + .btn.separate-btn{
    border-radius: 0.25rem;
}
.btn-group-sm>.btn, .btn-sm {
    padding:.313rem .5rem;
    font-size: 1rem;
    display: inline-flex;
}

/////////////////////////////////////////////////////////////////////
///////////////////////////// Modal Style /////////////////////
////////////////////////////////////////////////////////////////////
body.modal-open app-root {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.k-dialog{
    border:none !important;
}
.k-dialog-wrapper .k-window{
    box-shadow: 0 0 2px 0px rgba(255,255,255,1);
}
.k-window-titlebar{
    border:none !important;
    border-radius: 4px 4px 0 0;
    padding: 8px 10px 10px 15px !important;
}
.k-window-titlebar .k-window-title{
    color:#fff;
    font-size: 18px;
}

/////////////////////////////////////////////////////////////////////
///////////////////////////// Kendo Grid custom Style /////////////////////
////////////////////////////////////////////////////////////////////
// .k-grid.no-shadow .k-grid-header,
// .k-grid.no-shadow table,
// .k-grid.no-shadow{
//     border-color: #bbb;
// }