<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'Inbound_GoodsReceiptPO'|translate}} : {{selectedVendor}}
            </h3>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">

                    <div class="form-group row align-items-center">
                        <label for="inputPassword" class="col-4 col-sm-3 col-form-label py-0">{{'Inbound_FuturePOs'|translate}}</label>
                        <div class="col-8 col-sm-9">
                            <div class="opti_input-group-checkbox">
                                <input type="checkbox" id="ch7" (change)="toggleVisibility($event)" class="k-checkbox" name="future" [(ngModel)]="futurepo" />
                                <label class="k-checkbox-label" for="ch7"></label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'Inbound_PO#'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input #poScanInputField type="text" class="form-control form-control-sm" name="poCode" [(ngModel)]=poCode placeholder="{{'Inbound_PO#'|translate}}"
                                    (blur)="OnPOChange()" [disabled]=disablePO id="inboundPOScanPOInputField">
                                <div class="input-group-append has-seprate-btn">
                                    <button class="k-button k-primary btn" type="button" (click)="onPOlookupClick()" [disabled]=disablePO>
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                    <button class="k-button k-primary btn separate-btn" 
                                    *ngIf="false" (click)="openPOLines()"  type="button">
                                        <i class="opti-icon-search"></i>
                                    </button>
                                </div>
                                <div class="ml-1 d-flex">
                                    <button type="button" id="inboundPOScanBtn"   (click)="onInboundScan()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                     <i class="opti-icon-qr-code fs-24"></i>
                                    </button>
                                 </div> 
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'ItemCode'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" (blur)="OnItemCodeChange()"  placeholder="{{'ItemCode'|translate}}" 
                                class="form-control form-control-sm" name="itemCode" [(ngModel)]=itemCode 
                                id="InboundPO_ItemCodeScanInputField">
                                <div class="input-group-append has-seprate-btn">
                                    <button class="k-button k-primary btn" type="button" (click)="onItemlookupClick()">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                                <div class="ml-1 d-flex">
                                    <button type="button" id="inboundPOItemCodescanButton"  (click)="onInboundScan()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                     <i class="opti-icon-qr-code fs-24"></i>
                                     </button>
                                 </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="showSerialTrackItem">
                <!-- Serial tracked item -->
                <div class="row" *ngIf="showSerialTrackItem">
                    <div class="col-12 col-sm-12 col-md-12">
                        <div class="d-flex align-items-center">
                            <h4 class="mt-2 mb-2  mt-md-0">{{'Items'|translate}}</h4>
                            <ul class="color-label mt-2 mt-md-0 ml-auto mb-2">
                                <li>
                                    <span class="color-block blue"></span>
                                    <span>{{'Batch'|translate}}</span>
                                </li>
                                <li>
                                    <span class="color-block red"></span>
                                    <span>{{'Serial'|translate}}</span>
                                </li>
                                <li>
                                    <span class="color-block "></span>
                                    <span>{{'None'|translate}}</span>
                                </li>
                            </ul>
                        </div>
                      
                        <kendo-grid class="no-shadow" [data]="gridSettings.gridData" [resizable]="true" 
                          [pageSize]="gridSettings.state.take" [skip]="gridSettings.state.skip" [pageable]="pagable" [sortable]="true" 
                            [filterable]=isColumnFilter [groupable]=isColumnGroup [height]=gridHeight [selectable]="true" [rowClass]="rowCallback"
                            (selectionChange)="onClickOpenPOLineRowOpenAutoLot($event,grid)"  (dataStateChange)="dataStateChange($event)" #grid="kendoGrid">
                            <!-- <ng-template kendoGridToolbarTemplate>
                                    <button class="k-button" (click)="saveGridSettings(grid)">Save current state</button>
                                    <button class="k-button" (click)="gridSettings = mapGridSettings(persistingService.get('gridSettings'))">Load saved state</button>
                            </ng-template>  -->
                            <!-- grid for mobile start -->
                            <kendo-grid-column media="(max-width: 767px)" title="{{'Items'|translate}}" class="opti_mobile-grid-td">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <dl class="opti_mobile_grid_dl">
                                        <dt>{{'ItemCode'|translate}}</dt>
                                        <dd>{{ dataItem.ITEMCODE }}</dd>

                                        <dt>{{'Inbound_ReceiveQty'|translate}}</dt>
                                        <dd>{{dataItem.RPTQTY | numberFormat}}</dd>
                                    </dl>

                                    <dl class="opti_mobile_grid_dl">
                                        <dt class="d-flex align-items-center">{{'OpenQty'|translate}}
                                            <span class="opti_arrow-grid-detail ml-auto text-center opti_vertical-align">›</span>
                                        </dt>
                                        <dd>{{dataItem.OPENQTY | numberFormat}}</dd>
                                    </dl>
                                </ng-template>
                            </kendo-grid-column>
                            <!-- grid for mobile end -->

                            <kendo-grid-column media="(min-width: 768px)" field="ITEMCODE" title="{{'ItemCode'|translate}}"></kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" field="OPENQTY" title="{{'OpenQty'|translate}}" headerClass="text-right" class="text-right">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    {{dataItem.OPENQTY | numberFormat}}
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" field="RPTQTY" title="{{'Inbound_ReceiveQty'|translate}}" headerClass="text-right" class="text-right">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    {{dataItem.RPTQTY |numberFormat}}
                                </ng-template>
                            </kendo-grid-column>

                        </kendo-grid>
                    </div>
                </div>

            </div>

        </div>
        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">

                <button class="btn btn-outline-secondary btn-sm btn-transparent btn-icon mr-1" (click)="onCancelClick()" type="button">
                    <i class="opti-icon-arrow-back"></i>
                </button>
               
                <button type="button" *ngIf="showGRPOButton" class="btn btn-primary k-button btn-sm btn-icon-with-text" (click)="onAddtoGRPOClick()">
                    <span class="k-icon k-i-plus-outline" role="presentation"></span>{{'AddToGRPO'|translate}} </button>

                    <button type="button" id="hid_InboundPOScanButton" style="visibility:hidden" (click)="onHiddenPOScanClick()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                        SB </button>  
                        <button type="button" id="hid_ItemhiddenScanButton" style="visibility:hidden" (click)="onItemHiddenScanClick()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                            SB </button>                                          
            </div>
        </div>
    </form>
</div> 
<span *ngIf="showLookupLoader == false">
    <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-lookup>
</span>

<span *ngIf="showConfirmDialog">
    <app-comon-confirm-dialog [titleMessage]="dialogMsg" [yesButtonText]="yesButtonText" [fromWhere]="dialogFor"
        [noButtonText]="noButtonText" (isYesClick)="getConfirmDialogValue($event)"></app-comon-confirm-dialog>
</span>

<div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>