<div class="opti_container position-relative bg-white rounded">
  <form class="form-with-fix-btnBar">
    <div class="opti_container_inner" [perfectScrollbar]=" ">
      <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
        {{'Plt_Palletize'|translate}}
      </h3>


      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 col-form-label">{{'ItemCode'|translate}}</label>
            <div class="col-sm-9">
              <div class="input-group input-group-sm">
                <input #scanItemCode type="text" id="PalletizeItemCodeInput" class="form-control form-control-sm" placeholder="{{'ItemCode'|translate}}" name="itemCode"
                  [(ngModel)]="itemCode" (blur)="OnItemCodeChangeBlur()">
                <div class="input-group-append  has-seprate-btn">
                  <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="OnItemCodeLookupClick()">
                    <i class="opti-icon-hammenu"></i>
                  </button>

                  <button tabIndex="-1" id="palletize_ItemScanBtn" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0"
                    type="button">
                    <i class="opti-icon-qr-code fs-24"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 col-form-label">{{'BatchSerial_No'|translate}}</label>
            <div class="col-sm-9">
              <div class="input-group input-group-sm">
                <input type="text" id="PalletizeBatchSrNo" class="form-control form-control-sm" [(ngModel)]="batchSerialNo"
                  (blur)="OnLotsChangeBlur()" #BatchNoInput name='batchSrNo' placeholder="{{'BatchSerial_No'|translate}}">
                <div class="input-group-append has-seprate-btn">
                  <button tabIndex="-1" class="k-button k-primary btn" (mousedown)="OnBatchSerialLookupClick()" type="button">
                    <i class="opti-icon-hammenu"></i>
                  </button>
                  <button tabIndex="-1" id="palletize_BatchSrScanBtn" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0"
                    type="button">
                    <i class="opti-icon-qr-code fs-24"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
          <div class="form-group row"> 
            <label for="inputPassword" class="col-sm-3 col-form-label">{{'Plt_PalletNo'|translate}}</label>
            <div class="col-sm-9">
              <div class="input-group input-group-sm">
                <input #scanToPallet type="text" id="PalletizePalletNo" name="toPalletNo" (blur)="onPalletChangeBlur()" value='' [(ngModel)]="palletNo" class="form-control form-control-sm"
                  placeholder="{{'Plt_PalletNo'|translate}}">
                <div class="input-group-append has-seprate-btn">
                  <button tabIndex="-1" class="k-button k-primary btn" (mousedown)="getPalletList()" type="button">
                    <i class="opti-icon-hammenu"></i>
                  </button>
                  <button tabIndex="-1" type="button" id="palletize_PalletScanBtn" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                    <i class="opti-icon-qr-code fs-24"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Palletization Field For New Create-->
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
          <div class="form-group row mt-2 mt-md-0">
            <label class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
              <!-- <div class="opti_checkbox-container">
                <input type="checkbox" id="auth-2fa" class="k-checkbox float-left" name="newPallet" (change)="onCheckChange()">
                <label class="k-checkbox-label" for="auth-2fa">{{'Inbound_NewPallet'|translate}}</label>
              </div> -->
              <label class="textunderline" (click)="onCheckChange()">{{'Inbound_NewPallet'|translate}}</label>
            </div>
          </div>

          <!-- <div class="form-group row mt-1 mt-md-0" *ngIf="showNewPallet">
            <label class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
              <div class="d-flex">
                <input type="text" class="form-control form-control-sm" id="newPallet" name="newPallet" [(ngModel)]="newCreatedPalletNo"
                  placeholder="{{'Plt_NewPallet'|translate}}" [disabled]="autoGeneratePalletEnable">
                <div class="ml-1 d-flex">
                  <button class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0" type="button"
                    (click)="createNewPallet(event)">
                    <i class="opti-icon-add1 fs-24"></i>
                  </button>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 col-form-label">{{'Quantity'|translate}}</label>
            <div class="col-sm-9">
              <div class="d-flex">
                <input type="number" class="form-control form-control-sm text-right" #scanQuantity name="qty" [(ngModel)]=qty
                  placeholder="{{'Quantity'|translate}}" headerClass="text-right" [attr.disabled]="isSerailTrackedItem ? '' : null">
                <div class="ml-1 d-flex">
                  <button tabIndex="-1" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0" type="button"
                    (mousedown)="addQuantity(event)">
                    <i class="opti-icon-add1 fs-24"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="showHideGridToggle">
        <div class="col-12">
          <kendo-grid class="no-shadow" [data]="savedPalletsArray" [resizable]="true" [sortable]="true">

            <!-- grid for mobile start -->
            <kendo-grid-column media="(max-width: 767px)" title="{{'List'|translate}}" class="opti_mobile-grid-td">
              <ng-template kendoGridCellTemplate let-dataItem let-idx="rowIndex">
                <dl class="opti_mobile_grid_dl">
                  <dt>{{'Item'|translate}}</dt>
                  <dd>{{ dataItem.ItemCode }}</dd>
                  <dt>{{'Currnt Batch/Serial'|translate}}</dt>
                  <dd>{{ dataItem.LotNo }}</dd>
                </dl>
                <dl class="opti_mobile_grid_dl">
                  <dt>{{'New Batch/Serial'|translate}}</dt>
                  <dd>{{ dataItem.FinalLotNo }}</dd>
                  <dt>{{'Plt_PalletNo'|translate}}</dt>
                  <dd>{{ dataItem.PalletCode }}</dd>
                </dl>
                <dl class="opti_mobile_grid_dl">
                  <dt>{{'Quantity'|translate}}</dt>
                  <dd>{{ dataItem.Quantity }}</dd>
                </dl>
              </ng-template>
            </kendo-grid-column>
            <!-- grid for mobile end -->

            <kendo-grid-column media="(min-width: 768px)" field="ItemCode" title="{{'Item'|translate}}" [width]="30"></kendo-grid-column>
            <kendo-grid-column media="(min-width: 768px)" field="LotNo" title="{{'Plt_CurrentBatchSerialNo'|translate}}"
              [width]="30"></kendo-grid-column>
            <kendo-grid-column media="(min-width: 768px)" field="FinalLotNo" title="{{'Plt_NewBatchSerialNo'|translate}}"
              [width]="30"></kendo-grid-column>
            <kendo-grid-column media="(min-width: 768px)" field="PalletCode" title="{{'Plt_PalletNo'|translate}}"
              [width]="30"></kendo-grid-column>
            <kendo-grid-column media="(min-width: 768px)" field="Quantity" title="{{'Quantity'|translate}}" [width]="30"
              headerClass="text-right" class="text-right">
              <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.Quantity | numberFormat}}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column media="(min-width: 768px)" headerClass="text-center" class="text-center" field=""
              [width]="8" title="">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button type="button" class="btn btn-danger k-button btn-sm btn-icon" (mousedown)="openConfirmForDelete(rowIndex, gridItem)">
                  <span class="k-icon k-i-delete" role="presentation"></span>
                </button>
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
        </div>
      </div>
    </div>

    <div class="fix-footer-btnBar">
      <div class="col-sm-12 col-12">
        <hr />
      </div>
      <div class="col-sm-12 col-12">
        <button type="button" (mousedown)="back(0)" class="btn btn-danger k-button btn-sm btn-icon-with-text"><span class="k-icon k-i-close-outline"
            role="presentation"></span> {{'Cancel'|translate}}</button>
            <button type="button" id="showHideGrid" (mousedown)="clickShowHideGrid()" class="btn btn-primary k-button btn-sm btn-icon-with-text mr-0.5">
                <i [ngClass]="manageEyeIcon? 'opti-icon-eye mr-2':'opti-icon-eye-off mr-2'"></i>{{showHideBtnTxt}}
              </button>
            <button type="button" *ngIf="savedPalletsArray.length > 0" (mousedown)="palletize()" class="btn btn-success k-button btn-sm btn-icon-with-text"><span
            class="k-icon opti-icon-palletize"></span>
          {{'Plt_AddToPallet'|translate}}</button>
     
        <!-- <button type="button" id="showHideGrid" *ngIf="showHideGridBtn()==true" (click)="clickShowHideGrid()" class="btn btn-success k-button btn-sm btn-icon-with-text">
          {{showHideBtnTxt}}
        </button> -->
        <button type="button" id="Pal_HiddenScanItmBtn" style="visibility:hidden" (click)="ScanItemCodeField()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
          SBItem </button>
        <button type="button" id="Pal_HiddenScanBatchSerialBtn" style="visibility:hidden" (click)="ScanBatchSerialField()"
          class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
          SBItem </button>
        <button type="button" id="Pal_HiddenScanPltBtn" style="visibility:hidden" (click)="ScanPalletField()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
          SBItem </button>
      </div>
    </div>
  </form>
</div>

<span *ngIf="showLookup==true">
  <app-lookup [lookupfor]='lookupFor' [serviceData]='serviceData' (lookupkey)="getLookupValue($event)"></app-lookup>
</span>

<!-- Loader -->
<div class="opti_loader full-section" *ngIf="showLoader==true">
  <div class="opti_spinner"></div>
</div>

<span *ngIf="showInputDialogFlag">
  <app-input-dialog [titleMessage]="titleMessage" [yesButtonText]="yesButtonText" [fromWhere]="inputDialogFor"
    [noButtonText]="noButtonText" (isYesClick)="getInputDialogValue($event)"></app-input-dialog>
</span>