<div class="opti_container position-relative bg-white rounded" *ngIf="showMainLayoutItems">
    <form class="form-with-fix-btnBar">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'receiptFromProduction'|translate}}
            </h3>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'Outbound_OrderNo'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input #scanOrderNo type="text" class="form-control form-control-sm" [(ngModel)]=orderNumber
                                    (blur)="OnOrderValueChange()" name='orderNo' placeholder="{{'Outbound_OrderNo'|translate}}">
                                <div class="input-group-append has-seprate-btn">
                                    <button tabIndex="-1" class="k-button k-primary btn" (mousedown)="OnOrderLookupClick()" type="button">
                                        <i class="opti-icon-search"></i>
                                    </button>
                                    <!-- <button class="k-button k-primary btn separate-btn" (click)="getProductionDetail()"
                                        type="button">
                                        <i class="opti-icon-search"></i>
                                    </button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- container row -->
            <div *ngIf="displayFormAndSubmit">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">{{'Item'|translate}}</label>
                            <div class="col-sm-9 d-flex align-items-center">
                                <p class="mb-0">{{itemCode}}</p>
                                <p class="mb-0" *ngIf="showColon">:</p>
                                <p class="mb-0">{{itemName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="showRejectQtyField">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                        <div class="form-group row align-items-center">
                            <label for="inputPassword" class="col-sm-3 col-form-label">{{'ProdReceipt_TransType'|translate}}</label>
                            <div class="col-sm-9">
                                <fieldset class="d-block w-100">
                                    <div class="d-flex align-items-center w-100">
                                        <div class="d-flex align-items-center">

                                            <input type="radio" id="radio1" name="group" class="k-radio"
                                                [(ngModel)]="model.options" value="1">
                                            <label class="k-radio-label mr-3"
                                                for="radio1">{{'ProdReceipt_PostToInv'|translate}}</label>
                                            <input type="radio" id="radio2" name="group" class="k-radio"
                                                [(ngModel)]="model.options" value="2">
                                            <label class="k-radio-label mr-3"
                                                for="radio2">{{'ProdReceipt_PostToReject'|translate}}</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                        <div class="form-group row" *ngIf="tracking=='S'">
                            <label for="inputPassword" class="col-sm-3 col-form-label">{{'SerialQty'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" #SerialQty class="form-control form-control-sm text-right"
                                    [(ngModel)]=enteredQty name='SerialQty' placeholder="{{'SerialQty'|translate}}"
                                    [disabled]="disableSearialQty">
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="tracking=='B'">
                            <label for="inputPassword" class="col-sm-3 col-form-label">{{'BatchQty'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="number" #BatchQty class="form-control form-control-sm text-right"
                                [ngModel]="enteredQty | numberFormat" 
                                (ngModelChange)="enteredQty=$event" 
                                name='BatchQty' placeholder="{{'BatchQty'|translate}}"> 
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="tracking=='N'">
                            <label for="inputPassword" class="col-sm-3 col-form-label">{{'Quantity'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" #Qty class="form-control form-control-sm text-right" name='Qty'
                                [ngModel]="enteredQty | numberFormat" 
                                (ngModelChange)="enteredQty=$event"  placeholder="{{'Quantity'|translate}}">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                        <div class="form-group row" *ngIf="tracking=='S'">
                            <label for="inputPassword" class="col-sm-3 col-form-label">{{'SerialNo'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm" (blur)="checkAndValidateSerial()"
                                 [(ngModel)]=serialBatchNo name='Serial' placeholder="{{'Serial'|translate}}">
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="tracking=='B'">
                            <label for="inputPassword" class="col-sm-3 col-form-label">{{'BatchNo'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm" name='Batch'
                                    [(ngModel)]=serialBatchNo  (blur)="checkAndValidateSerial()" placeholder="{{'BatchNo'|translate}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="shouldShowExpiryDate">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                        <div class="form-group row">
                            <label for="inputPassword"
                                class="col-sm-3 col-form-label">{{'ExpiryDate'|translate}}</label>
                            <div class="col-sm-9">
                                <kendo-datepicker [format]=dateFormat [value]="value" name="expiryDate"
                                    [(ngModel)]=expDate placeholder={{dateFormat}}></kendo-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">{{'BinNo'|translate}}</label>
                            <div class="col-sm-9">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm" (blur)="OnBinValueChange()"
                                        [(ngModel)]=binNo name='binNo' placeholder="{{'BinNo'|translate}}">
                                    <div class="input-group-append">
                                        <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="getBinList()">
                                            <i class="opti-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">{{'OpenQty'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm text-right" name='openQty'
                                    [attr.disabled]="disableOpenQty" [ngModel]="orignalActualQty | numberFormat"
                                    (ngModelChange)="orignalActualQty=$event" placeholder="{{'OpenQty'|translate}}">
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="showRejectQtyField">
                            <label for="inputPassword" class="col-sm-3 col-form-label">{{'ProdReceipt_DefectQty'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm text-right" name='defectQty'
                                    [attr.disabled]="disableDefRejQty" [ngModel]="rejectQty | numberFormat"
                                    (ngModelChange)="rejectQty=$event" placeholder="{{'ProdReceipt_DefectQty'|translate}}">
                            </div>
                        </div>
                    </div>
                </div>

                <h5>{{'ProdReceipt_AssignedQuantity'|translate}}</h5>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">{{'ProdReceipt_AcceptQty'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm text-right" name='acceptQty'
                                    placeholder="{{'ProdReceipt_AcceptQty'|translate}}" [attr.disabled]="disableAcceptQty"
                                    [ngModel]="acceptQty | numberFormat" (ngModelChange)="acceptQty=$event">
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="showRejectQtyField">
                            <label for="inputPassword" class="col-sm-3 col-form-label">{{'ProdReceipt_RejectQty'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm text-right" name='rejectQty'
                                    [ngModel]="rjQty | numberFormat" (ngModelChange)="rjQty=$event"
                                    [attr.disabled]="disableDefRejQty" placeholder="{{'ProdReceipt_RejectQty'|translate}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- container row end -->

        </div>

        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">
                <button type="button" *ngIf="displayFormAndSubmit" (click)="submitRecord($event)"
                    class="btn btn-success k-button btn-sm btn-icon-with-text">
                    <span class="k-icon k-i-check" role="presentation"></span> {{'Submit'|translate}}</button>
                <button class="btn btn-primary k-button btn-sm btn-icon-with-text" *ngIf="showAddMoreButton"
                    type="button" (click)="addMoreClick($event)">
                    <span class="k-icon k-i-plus" role="presentation"></span> {{'AddMore'|translate}}</button>
                <button class="btn btn-primary k-button btn-sm btn-icon-with-text mr-1" *ngIf="showViewAcceptButton"
                    type="button" (click)="showViewAcceptItems($event)">
                    <span class="k-icon k-i-preview" role="presentation"></span> {{'ViewAccept'|translate}}</button>
                <button type="button" class="btn btn-primary k-button btn-sm btn-icon-with-text"
                    *ngIf="showViewRejectButton" (click)="showViewRejectItems($event)"><span
                        class="k-icon k-i-preview" role="presentation"></span> {{'ViewReject'|translate}}</button>
                <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text"
                    (click)="onCancelClick()"><span class="k-icon k-i-close-outline" role="presentation"></span>
                    {{'Cancel'|translate}}</button>
                <!-- <button type="button" class="btn btn-outline-secondary btn-sm btn-transparent btn-icon" 
                  roterLink="binTransfer" skipLocationChange><i class="opti-icon-arrow-next"></i></button> -->
            </div>
        </div>
    </form>
</div>

<!-- Accept Item Grid Start -->
<div class="opti_container position-relative bg-white rounded" *ngIf="acceptItemsGrid">
    <form class="form-with-fix-btnBar">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'ProdReceipt_AcceptedLot'|translate}}
            </h3>

            <div class="row">
                <div class="col-12">

                    <kendo-grid  [kendoGridBinding]="Lots" [resizable]="true" [pageSize]="pageSize" [pageable]="pagable"
                        [sortable]="true" [filterable]=isColumnFilter [groupable]=isColumnGroup [height]=gridHeight
                        [selectable]="true" [data]="ItemArray" style="max-height:400px" class="no-shadow" #gridItem>

                        <!-- grid for mobile start -->
                        <kendo-grid-column media="(max-width: 767px)" title="{{'AcceptedSerials '|translate}}"
                            class="opti_mobile-grid-td">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex='rowIndex'>
                                <dl class="opti_mobile_grid_dl">
                                    <dt *ngIf="tracking!='N'">{{lotSerialHeading}}</dt>
                                    <dd *ngIf="tracking!='N'">{{ dataItem.LotNumber }}</dd>

                                    <dt>{{'Quantity'|translate}}</dt>
                                    <dd>{{ dataItem.LotQty }}</dd>
                                </dl>
                                <dl class="opti_mobile_grid_dl">
                                    <dt class="d-flex align-items-center">{{'BinNo'|translate}}
                                        <button (click)="confirmDialogForDeleteAcceptItem(rowIndex,gridItem)" class="btn btn-danger k-button btn-sm btn-icon ml-auto" type="button">
                                            <span class="k-icon k-i-delete"></span>
                                        </button>
                                    </dt>
                                    <dd>{{ dataItem.Bin }}</dd>
                                </dl>
                            </ng-template>
                        </kendo-grid-column>

                        <!-- grid for mobile end -->

                        <kendo-grid-column *ngIf="tracking!='N'" media="(min-width: 768px)" field="LotNumber" title="{{lotSerialHeading}}">
                        </kendo-grid-column>
                        <kendo-grid-column media="(min-width: 768px)" field="Bin" title="{{'BinNo'|translate}}">
                        </kendo-grid-column>
                        <kendo-grid-column media="(min-width: 768px)" field="LotQty" title="{{'Quantity'|translate}}">
                        </kendo-grid-column>
                        <kendo-grid-column media="(min-width: 768px)" field="" class="text-center" headerClass="text-center" width="60">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <button (click)="confirmDialogForDeleteAcceptItem(rowIndex,gridItem)"
                                    class="btn btn-danger k-button btn-sm btn-icon" type="button">
                                    <span class="k-icon k-i-delete"></span>
                                </button>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid>
                </div>
            </div>
        </div>

        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">
                <button type="button" (click)="viewAcceptOkClick($event)"
                    class="btn btn-success k-button btn-sm btn-icon-with-text">
                    <span class="k-icon k-i-check" role="presentation"></span> {{'Ok'|translate}}
                </button>
                <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text"
                    (click)="confirmDialogForDeleteAllAcceptItems()">
                    <span class="k-icon k-i-delete" role="presentation"></span> {{'DeleteAll'|translate}}
                </button>

            </div>
        </div>
    </form>
</div>
<!-- Accept Item Grid End -->

<!-- Reject Item Grid Start -->
<div class="opti_container position-relative bg-white rounded" *ngIf="rejectItemsGrid">
    <form class="form-with-fix-btnBar">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'ProdReceipt_RejectedLot'|translate}}
            </h3>

            <div class="row">
                <div class="col-12">

                    <kendo-grid [kendoGridBinding]="RejectLots" [resizable]="true" [pageSize]="pageSize"
                        [pageable]="pagable" [sortable]="true" [filterable]=isColumnFilter [groupable]=isColumnGroup
                        [height]=gridHeight [selectable]="true" [data]="ItemArray" style="max-height:400px"
                        class="no-shadow" #gridItem>

                        <!-- grid for mobile start -->
                        <kendo-grid-column media="(max-width: 767px)" title="{{'RejectedSerials '|translate}}"
                            class="opti_mobile-grid-td">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex='rowIndex'>
                                <dl class="opti_mobile_grid_dl">
                                    <dt *ngIf="tracking!='N'">{{lotSerialHeading}}</dt>
                                    <dd *ngIf="tracking!='N'">{{ dataItem.LotNumber }}</dd>

                                    <dt>{{'Quantity'|translate}}</dt>
                                    <dd>{{ dataItem.LotQty }}</dd>
                                </dl>
                                <dl class="opti_mobile_grid_dl">
                                    <dt class="d-flex align-items-center">{{'BinNo'|translate}}
                                        <button (click)="confirmDialogForDeleteRejectItem(rowIndex,gridItem)" class="btn btn-danger k-button btn-sm btn-icon ml-auto" type="button">
                                            <span class="k-icon k-i-delete"></span>
                                        </button>
                                    </dt>
                                    <dd>{{ dataItem.Bin }}</dd>
                                </dl>
                            </ng-template>
                        </kendo-grid-column>

                        <!-- grid for mobile end -->

                        <kendo-grid-column *ngIf="tracking!='N'" media="(min-width: 768px)" field="LotNumber" title="{{lotSerialHeading}}">
                        </kendo-grid-column>
                        <kendo-grid-column media="(min-width: 768px)" field="Bin" title="{{'BinNo'|translate}}">
                        </kendo-grid-column>
                        <kendo-grid-column media="(min-width: 768px)" field="LotQty" title="{{'Quantity'|translate}}">
                        </kendo-grid-column>
                        <kendo-grid-column headerClass="text-center" class="text-center" media="(min-width: 768px)" field="" width="60">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <button (click)="confirmDialogForDeleteRejectItem(rowIndex,gridItem)"
                                    class="btn btn-danger k-button btn-sm btn-icon" type="button">
                                    <span class="k-icon k-i-delete"></span>
                                   
                                </button>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid>
                </div>
            </div>
        </div>

        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">
                <button type="button" (click)="viewRejectOkClick($event)"
                    class="btn btn-success k-button btn-sm btn-icon-with-text">
                    <span class="k-icon k-i-check" role="presentation"></span> {{'Ok'|translate}}
                </button>
                <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text"
                    (click)="confirmDialogForDeleteAllRejectItems()">
                    <span class="k-icon k-i-delete" role="presentation"></span> {{'DeleteAll'|translate}}
                </button>

            </div>
        </div>
    </form>
</div>
<!-- Reject Item Grid End -->

<div *ngIf="showLookupLoader==false">
    <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-lookup>
</div>
<!-- loader start -->
<div class="opti_loader" *ngIf="showLookupLoader==true">
    <div class="opti_spinner"></div>
</div>

<!--delete dialog start-->
<span *ngIf="showConfirmDialog">
    <app-comon-confirm-dialog [titleMessage]="dialogMsg" [yesButtonText]="yesButtonText" [fromWhere]="dialogFor"
        [noButtonText]="noButtonText" (isYesClick)="getConfirmDialogValue($event)"></app-comon-confirm-dialog>
</span>
<!--delete dialog end-->

<div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>