<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar">
        <div class="opti_container_inner" [perfectScrollbar]=" ">
            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'Plt_PalletMerge'|translate}}
            </h3>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'Plt_FromPalletNo'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" name="fromPalletNo" (blur)="onPalletChange('from_pallet')" value=''
                                    [(ngModel)]="fromPalletNo" class="form-control form-control-sm" placeholder="{{'Plt_FromPalletNo'|translate}}">
                                <div class="input-group-append has-seprate-btn">
                                    <button class="k-button k-primary btn" (click)="getPalletList('from_pallet')" type="button">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                    <button type="button" id="palletScanButton" (click)="onPalletScan()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                        <i class="opti-icon-qr-code fs-24"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="d-none d-sm-flex d-md-flex d-xl-flex row align-items-center">
                        <h5 class="h5 col-12 col-sm-6 mb-2 col-md-6 col-lg-9">{{'Plt_SelectedPallets'|translate}}</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <kendo-grid class="no-shadow" [data]="selectedFromPallets" [resizable]="true" [sortable]="true">

                        <!-- grid for mobile start -->
                        <kendo-grid-column media="(max-width: 767px)" title="{{'List'|translate}}" class="opti_mobile-grid-td">
                            <ng-template kendoGridCellTemplate let-dataItem let-idx="rowIndex">
                                <dl class="opti_mobile_grid_dl">
                                    <dt>{{'Plt_PalletNo'|translate}}</dt>
                                    <dd>{{ dataItem.Code }}</dd>
                                    <dt></dt>
                                    <dd>
                                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                            <button type="button" class="btn btn-danger k-button btn-sm btn-icon"
                                                (click)="openConfirmForDelete(rowIndex, gridItem)">
                                                <span class="k-icon k-i-delete" role="presentation"></span>
                                            </button>
                                        </ng-template>
                                    </dd>
                                </dl>
                            </ng-template>
                        </kendo-grid-column>
                        <!-- grid for mobile end -->

                        <kendo-grid-column media="(min-width: 768px)" field="Code" title="{{'Plt_PalletNo'|translate}}"
                            [width]="30"></kendo-grid-column>

                        <kendo-grid-column media="(min-width: 768px)" headerClass="text-center" class="text-center"
                            field="" [width]="5" title="">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <button type="button" class="btn btn-danger k-button btn-sm btn-icon" (click)="openConfirmForDelete(rowIndex, gridItem)">
                                    <span class="k-icon k-i-delete" role="presentation"></span>
                                </button>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                    <div class="form-group row mt-3">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'Plt_ToPalletNo'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" name="palletNo" (blur)="onPalletChange('to_pallet')" value=''
                                    [(ngModel)]="toPalletNo" class="form-control form-control-sm" placeholder="{{'Plt_ToPalletNo'|translate}}">
                                <div class="input-group-append has-seprate-btn">
                                    <button class="k-button k-primary btn" (click)="getPalletList('to_pallet')" type="button">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                    <button type="button" id="palletScanButton" (click)="onPalletScan()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                        <i class="opti-icon-qr-code fs-24"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Palletization Field For New Create-->
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                    <div class="form-group row mt-2 mt-md-0">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <div class="opti_checkbox-container">
                                <input type="checkbox" id="auth-2fa" class="k-checkbox float-left" name="newPallet"
                                    (change)="onCheckChange()">
                                <label class="k-checkbox-label" for="auth-2fa">{{'Inbound_NewPallet'|translate}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mt-1 mt-md-0" *ngIf="showNewPallet">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <div class="d-flex">
                                <input type="text" class="form-control form-control-sm" id="newPallet" name="newPallet"
                                    [(ngModel)]="createdNewPallet" placeholder="{{'Plt_NewPallet'|translate}}"
                                    [disabled]="autoGenereatePalletEnable">
                                <div class="ml-1 d-flex">
                                    <button class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0"
                                        type="button" (click)="createNewPallet(event)">
                                        <i class="opti-icon-add1 fs-24"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">
                <button type="button" (click)="back(0)" class="btn btn-danger k-button btn-sm btn-icon-with-text"><span
                        class="k-icon k-i-close-outline" role="presentation"></span> {{'Cancel'|translate}}</button>
                <button type="button" *ngIf="selectedFromPallets && selectedFromPallets.length>0 && toPalletNo!=''"
                    (click)="mergePallet()" class="btn btn-success k-button btn-sm btn-icon-with-text"><span class="k-icon k-i-save"></span>
                    {{'Plt_Merge'|translate}}</button>
            </div>
        </div>
    </form>
</div>

<span *ngIf="showLookup==true">
    <app-lookup [lookupfor]='lookupFor' [serviceData]='serviceData' (lookupkey)="getLookupValue($event)"></app-lookup>
</span>

<!-- Loader -->
<div class="opti_loader full-section" *ngIf="showLoader==true">
    <div class="opti_spinner"></div>
</div>