<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom no-border-mobile d-flex pt-1 pb-3 mb-4">
                {{'PickList'|translate}}
            </h3>

            <!-- row start PickType-->
            <div class="row">
                <!-- col start -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="Pick_Type" class="col-sm-4 col-form-label">{{'Pick_Type'|translate}}</label>
                        <div class="col-sm-7">
                            <div class="input-group ">
                                <kendo-dropdownlist [data]="pickTypeArray" id="Pick_Type" #selectedvalue (selectionChange)="onPickTypeChange($event)" name="Pick_Type"
                                    [(ngModel)]="Pick_Type">
                                </kendo-dropdownlist>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col end -->
            </div>

            <div class="row pick-list-row">
                <div class="col-12 pick-list-col">
                    <div class="new-custom-grid">
                        <kendo-grid [kendoGridBinding]="ShipmentList" (cellClick)="onShipmentSelection($event)" [pageSize]="pageSize" (pageChange)="pageChange($event)" [skip]="skip" [pageable]="pagable" *ngIf="showGrid">
                            <kendo-grid-column [media]="mobileMedia" class="opti_mobile-grid-td">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <dl class="grid-mobile-card">
                                        <button class="task-btn" (click)="showPickTaskList(dataItem)">
                                            <span class=" k-icon k-i-track-changes"></span>
                                        </button>
                                        <div class="di-list">
                                            <dt>{{'PickListCode'|translate}}</dt>
                                            <dd>{{ dataItem.OPTM_PICKLIST_CODE}}</dd>

                                            <!-- <dt>{{'PT_Customer'|translate}}</dt>
                                            <dd>{{ dataItem.OPTM_BPCODE}}</dd> -->
                                        </div>
                                        <div class="di-list" *ngIf="false">
                                            <dt>{{'TaskListCode'|translate}}</dt>
                                            <dd>{{ dataItem.OPTM_TASK_CODE}}</dd>
                                            <!--                                         
                                            <dt>{{'PT_Warehouse'|translate}}</dt>
                                            <dd>{{ dataItem.OPTM_WHSCODE}}</dd> -->
                                        </div>
                                    </dl>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column [media]="desktopMedia" field="OPTM_PICKLIST_CODE" title="{{'PickListCode'|translate}}">
                            </kendo-grid-column>
                            <kendo-grid-column *ngIf="false" [media]="desktopMedia" field="OPTM_TASK_CODE" title="{{'TaskListCode'|translate}}">
                            </kendo-grid-column>
                            <!-- <kendo-grid-column [media]="desktopMedia" field="OPTM_SHIPTO" title="{{'PT_Ship_To'|translate}}">
                            </kendo-grid-column>
                            <kendo-grid-column [media]="desktopMedia" field="OPTM_WHSCODE" title="{{'PT_Warehouse'|translate}}">
                            </kendo-grid-column> -->
                            <kendo-grid-column [media]="desktopMedia" title="Pick Detail">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <button type="button" class="btn btn-danger k-button btn-sm mr-10 " (click)="showPickTaskList(dataItem)">
                                        <i class=" k-icon k-i-track-changes"></i>
                                    </button>
                                </ng-template>
                            </kendo-grid-column>
                        </kendo-grid>
                    </div>
                </div>
            </div>


        </div>
        <div class="fix-footer-btnBar">

        </div>
    </form>

</div>