<div class="opti_container position-relative bg-white rounded" *ngIf="whsView">
  <form class="form-with-fix-btnBar">
    <div class="opti_container_inner" [perfectScrollbar]=" ">
      <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
        {{'WarehouseTransfer'|translate}}
      </h3>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-6">
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 col-form-label">{{'InvTransfer_FromWhse'|translate}}</label>
            <div class="col-sm-9">
              <input id="fromWhse" name="fromWhse" [(ngModel)]="fromWhse" type="text" class="form-control form-control-sm" placeholder="{{'InvTransfer_FromWhse'|translate}}"
                disabled>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 col-form-label">{{'InvTransfer_ToWhse'|translate}}</label>
            <div class="col-sm-9">
              <div class="input-group input-group-sm">
                <input type="text" name="toWhse" [(ngModel)]="toWhse" class="form-control form-control-sm" placeholder="{{'InvTransfer_ToWhse'|translate}}"
                  (blur)="OnToWarehouseChange()">
                <div class="input-group-append">
                  <button class="k-button k-primary btn" type="button" (click)="getToWhse()">
                    <i class="opti-icon-hammenu"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row fix-footer-btnBar">
      <div class="col-sm-12 col-12">
        <hr />
      </div>
      <div class="col-sm-12 col-12">
        <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text" (click)="onCancelClick()">
          <span class="k-icon k-i-close-outline" role="presentation"></span> {{'Cancel'|translate}}</button>
        <!-- <button type="button" class="btn btn-outline-secondary btn-sm btn-transparent btn-icon" (click)="listClick($event, 'binTransfer')" roterLink="binTransfer" skipLocationChange><i class="opti-icon-arrow-next"></i></button> -->
        <button type="button" *ngIf="showNext" class="btn btn-outline-secondary btn-sm btn-transparent btn-icon" (click)="viewSwitch()">
          <i class="opti-icon-arrow-next"></i>
        </button>
      </div>
    </div>
  </form>
</div>
<app-bin-transfer *ngIf="!whsView" [fromScreen]='fromScreen' (cancelevent)="binCancelEvent($event)"></app-bin-transfer>
<span [hidden]="showLookupLoader">
  <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-lookup>
</span>
<div class="opti_loader full-section" *ngIf="showLoader">
  <div class="opti_spinner"></div>
</div>