@import '../../../assets/css/_base';
// 1. Css Start Related to left panel menu listing
// 2. CSS Start  Related To Logo
// 1. Css Start Related to left panel menu listing //
.opti_left-nav-ul {
    border-radius: 5px;
    width: 100%;
    background-color: $list-bg-color;
    > li {
        list-style: none;
        padding: 10px;
        background-color: $list-bg-color;
        border-bottom: 1px solid $list-seprator-color;
        cursor: pointer;
        > a {
            color: $light-black;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &:hover {
                text-decoration: none;
                color: $dark-black;
            }
            span.text{
                align-self: flex-start;
                justify-self: flex-start;
                display: flex;
                flex: 1;
            }
            // img{
            //     margin-top: -4px;
            // }
            svg-icon {
                // position: relative;
                // top: 5px;
            }
            i {
                font-size: 24px;
            }
        }
        &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        &:last-child {
            border-bottom: none;
        }
        &.dropdown {
            position: static;
            display: flex;
            flex-direction: column;
            padding: 0;
            & > a.dropdown-toggle{
                padding: 10px;
                &:after{
                    font-family: "OptiProErp";
                    content: "\e936";
                    border: none;
                    display: flex;
                    align-self: center;
                    justify-self: flex-end;
                    justify-content: flex-end;
                    font-size: 10px;
                    width: 10px;
                    height: 9px;
                    margin: 0 0 0 5px;
                    line-height: 9px;
                    transition: all 300ms ease-in-out;
                }
            }
            &.open{
                &:hover{
                    background-color: transparent !important;
                }
                > a{
                    background-color: var(--kendo-light-primary-hover-color);
                }
                & > a.dropdown-toggle:after{
                    transform: rotateX(180deg)
                }
            }
            & > .dropdown-menu{
                margin: 0;
                padding:0                                                                                                                      ;
                border: none;
                border-radius: 0;
                position: static;
                box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.2);
                & > li{
                    & > a{                        
                        padding: 10px 15px 10px 30px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        &:hover{
                            background-color: transparent;
                        }
                        i{
                            font-size: 24px;
                        }
                    }
                    &:hover, &.active{
                        background-color: var(--kendo-light-primary-hover-color);
                        a, a:hover{
                            background-color: rgba(255,255,255,0.5)
                        }
                    }                    
                }
            }
        }
    }
}

.opti_left-navigation>ul li span {
    margin-left: 7px;
}

#opti_LeftPanelID.opti_sidebar-minimize {
    .opti_left-navigation {
        ul {
            min-width: initial;
            li {
                & > ul.dropdown-menu{
                    & > li a{
                        padding: 10px 15px;
                        justify-content: center;
                    }
                }
                a.dropdown-toggle{
                    &:after{
                        font-size: 8px;
                        width: 8px;
                        line-height: 8px;
                    }
                }
                img {
                    width: 100%;
                }
                span.text {
                    display: none;
                }
            }
        }
    }
}

// If left Sidebar is Minimize
.opti_sidebar-minimize {
    ul {
        li {
            @include truncate(80px);
            text-align: center;
        }
    }
}

// End Css Related to left panel menu listing //        
// 2. CSS Start  Related To Logo //
.opti_logo.opti_vertical-align {
    max-height: $top-bar-height;
    max-width: 100%;
    height: auto;
    width: auto;
}

// if left panel close
.opti_sidebar-minimize {
    .opti_logo {
        .opti_large-logo {
            display: none;
        }
        .opti_small-logo {
            display: block;
        }
    }
}

// if left panel open
.opti_logo {
    .opti_large-logo {
        display: block;
    }
    .opti_small-logo {
        display: none;
    }
}

// Css Related To Desktop and Ipad Logo
.opti_device-logo-outer {
    max-height: $top-bar-height;
    overflow: hidden;
    height: $top-bar-height;
}

.opti_device-logo {
    // display: block;   
    max-height: 100%;
    img {
        // height: 100%;
        // width: 100%;
        // padding-top: 10px;
        // padding-bottom: 10px;
        height: auto;
        width: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }
}

// CSS End  Related To Logo //       
// powered by logo
#opti_LeftPanelFooterLogo {
    display: flex;
    align-self: center;
    justify-self: flex-end;
    align-items: center;
    justify-items: flex-end;
    justify-content: center;
    img {
        width: 60%;
    }
}