<!-- left panel start -->
<section id="opti_LeftPanelID" class="position-relative">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 opti_hide-in-mobile text-center opti_vertical-align opti_device-logo-outer">
                <!-- logo -->
                <section class="opti_logo opti_device-logo">
                    <img src="assets/images/logo/large-logo.png" alt="Large Logo" class="opti_large-logo opti_mouse-pointer" />
                    <img src="assets/images/logo/small-logo.png" alt="Logo" class="opti_small-logo opti_mouse-pointer" />
                </section>
            </div>
        </div>
    </div>

    <section class="opti_left-navigation position-relative" [perfectScrollbar]="">
        <ul class="opti_left-nav-ul">
            <!-- <li (click)="listClick($event, 'dashboard')" [ngClass]="{'active': selectedItem == 'dashboard'}">
                <a roterLink="dashboard">
                    <i class="opti-icon-dashboard" [style.color]="selectedThemeColor"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li> -->

            <li id="PUR" (click)="listClick($event, 'inbound')" [ngClass]="{'active': selectedItem == 'inbound'}">
                <a roterLink="inbound">
                    <i class="opti-icon-inbound-order" [style.color]="selectedThemeColor"></i>
                    <span class="text">{{'Inbound'|translate}}</span>
                </a>
            </li>

            <li id="SLS" (click)="listClick($event, 'outbound/outcustomer')" [ngClass]="{'active': selectedItem == 'outbound'}">
                <a roterLink="outbound">
                    <i class="opti-icon-outbound-order" [style.color]="selectedThemeColor"></i>
                    <span class="text">{{'Outbound'|translate}}</span>
                </a>
            </li>
            <li class="dropdown" dropdown id="INV" >
                <a dropdownToggle class="dropdown-toggle">
                    <i class="opti-icon-inventory-transfer" [style.color]="selectedThemeColor"></i>
                    <span class="text">{{'InventoryTransfer'|translate}}</span>
                </a>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li id="15108" role="menuitem" (click)="listClick($event, 'whsTransfer')" >
                        <a class="dropdown-item" roterLink="whsTransfer">
                            <i class="opti-icon-warehouse-transfer" [style.color]="selectedThemeColor"></i>
                            <span class="text">{{'WarehouseTransfer'|translate}}</span>
                        </a>
                    </li>
                    <li id="15109" role="menuitem" (click)="listClick($event, 'binTransfer')" >
                        <a class="dropdown-item" roterLink="binTransfer">
                            <i class="opti-icon-bin-transfer" [style.color]="selectedThemeColor"></i>
                            <span class="text">{{'BinTransfer'|translate}}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" dropdown id="INV">
                <a dropdownToggle class="dropdown-toggle">
                    <i class="opti-icon-notes" [style.color]="selectedThemeColor"></i>
                    <span class="text">{{'AdjustmentsCounting'|translate}}</span>
                </a>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li id="15108" role="menuitem">
                        <a class="dropdown-item" href="#">
                            <i class="opti-icon-time" [style.color]="selectedThemeColor"></i>
                            <span class="text">{{'PhysicalCount'|translate}}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" dropdown id="INV">
                <a dropdownToggle class="dropdown-toggle">
                    <i class="opti-icon-factory" [style.color]="selectedThemeColor"></i>
                    <span class="text">{{'Production'|translate}}</span>
                </a>
                <ul *dropdownMenu class="dropdown-menu" role="menu">                    
                    <li id="15109" role="menuitem">
                        <a class="dropdown-item" href="#">
                            <i class="opti-icon-issue" [style.color]="selectedThemeColor"></i>
                            <span class="text">{{'IssueForProduction'|translate}}</span>
                        </a>
                    </li>
                    <li id="15108" role="menuitem">
                            <a class="dropdown-item" href="#">
                                <i class="opti-icon-customer-purchase-order" [style.color]="selectedThemeColor"></i>
                                <span class="text">{{'ReceiptFromProduction'|translate}}</span>
                            </a>
                        </li>
                </ul>
            </li>
            <li class="dropdown" dropdown id="INV">
                <a dropdownToggle class="dropdown-toggle">
                    <i class="opti-icon-printer" [style.color]="selectedThemeColor"></i>
                    <span class="text">{{'LabelPrintingandReports'|translate}}</span>
                </a>
                <ul *dropdownMenu class="dropdown-menu" role="menu">                    
                    <li id="15109" role="menuitem">
                        <a class="dropdown-item" href="#">
                            <i class="opti-icon-issue" [style.color]="selectedThemeColor"></i>
                            <span class="text">{{'ItemLabel'|translate}}</span>
                        </a>
                    </li>
                    <li id="15108" role="menuitem">
                            <a class="dropdown-item" href="#">
                                <i class="opti-icon-sales-order" [style.color]="selectedThemeColor"></i>
                                <span class="text">{{'BinLabel'|translate}}</span>
                            </a>
                        </li>
                    <li id="15109" role="menuitem">
                        <a class="dropdown-item" href="#">
                            <i class="opti-icon-sales-order" [style.color]="selectedThemeColor"></i>
                            <span class="text">{{'InventoryEnquiry'|translate}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </section>

    <section id="opti_LeftPanelFooterLogo">
        <img src="assets/images/logo/poweredbylogo.svg" alt="powered logo">
    </section>


</section>
<!-- left panel end -->

<!-- <a routerLink='dashboard'>Dashboard</a><br>
<a routerLink='purchaseinquiry'> Purchase Inquery</a> -->