<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'Delivery'|translate}}
            </h3>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'Customer'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input [disabled]='orderCollection!=undefined && orderCollection!=null && orderCollection.length>0'
                                    type="text" class="form-control form-control-sm" name='customerCode' [(ngModel)]="customerCode"
                                    placeholder="{{'Customer'|translate}}">
                                <div class="input-group-append">
                                    <button [disabled]='orderCollection!=undefined && orderCollection!=null && orderCollection.length>0'
                                        class="k-button k-primary btn" (click)="openCustomerLookup()" type="button">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- *ngIf="customerName!=undefined && customerName!=''" -->
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'Name'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="customerName" value="{{customerName}}"
                                    [disabled]="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf='(orderCollection!==undefined && orderCollection!==null && orderCollection.length>0)'>
                <div class="col-12">

                    <div>
                        <!-- (selectionChange)="openPOByUOM($event,soItemsDetail.ITEMCODE)" -->
                        <kendo-grid class="no-shadow" [kendoGridBinding]="orderCollection" [resizable]="false"
                            [pageSize]="50" [pageable]="true" [sortable]="true" [filterable]=isColumnFilter [groupable]=isColumnGroup
                            [columnMenu]="{ columnChooser: false }" [height]=gridHeight (selectionChange)="openOrderScreen($event)"
                            [selectable]="true" #gridItem>

                            <kendo-grid-column field="DOCNUM" title="Order No"></kendo-grid-column>
                            <kendo-grid-column field="DOCNUM" [width]="80" title="{{'Delete'|translate}}">
                                <ng-template kendoGridCellTemplate let-idx="rowIndex">
                                    <button id="removeSelectedMeterial" (click)="removeOrder(idx,gridItem)" class="k-button-icon k-button">
                                        <span class="k-icon k-i-delete" role="presentation"></span></button>
                                </ng-template>
                            </kendo-grid-column>
                        </kendo-grid>

                    </div>
                </div>
            </div>

        </div>
        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">
                <button type="button" [hidden]='!(orderCollection!==undefined && orderCollection!==null && orderCollection.length>0)'
                    (click)="prepareDeleiveryCollection()" class="btn btn-success k-button btn-sm btn-icon-with-text"><span
                        class="k-icon k-i-check" role="presentation"></span> {{'Deleiver'|translate}}</button>
                <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text" (click)="cancel()"><span
                        class="k-icon k-i-close-outline" role="presentation"></span> {{'Cancel'|translate}}</button>
                <button type="button" class="btn btn-outline-secondary btn-sm btn-transparent btn-icon" [disabled]="!customerCode"
                    (click)="openCustSO()" roterLink="binTransfer" skipLocationChange><i class="opti-icon-arrow-next"></i></button>

            </div>
        </div>
    </form>


</div>
<!-- Lookup -->
<span *ngIf="showLookup==true && showLookupLoader==false">
    <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-lookup>
</span>
<!-- Loader -->
<div class="opti_loader full-section" *ngIf="showLookupLoader==true">
    <div class="opti_spinner"></div>
</div>

<!-- Dialog -->
<span *ngIf="showConfirmDialog">
    <app-comon-confirm-dialog [titleMessage]="dialogMsg" [fromWhere]="dialogFor" [noButtonText]="noButtonText"
        [yesButtonText]="yesButtonText" (isYesClick)="getConfirmDialogValue($event)"></app-comon-confirm-dialog>
</span>