<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{pageTitle}}
            </h3>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">

                    <div class="form-group row" *ngIf ="deliveryOptionType==2">
                        <label for="inputPassword"
                            class="col-sm-3 col-form-label">{{'ShipmentID'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input #scanShipmentId (blur)="onShipmentBlur()" id="outCustomerCustomerCodeInput"
                                    type="text" class="form-control form-control-sm" name='shipmentCode'
                                    [(ngModel)]="shipmentId" placeholder="{{'ShipmentID'|translate}}">
                                <div class="input-group-append">
                                    <button tabIndex="-1"
                                        class="k-button k-primary btn" (mousedown)="getShipmentList()" type="button">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                    <button tabIndex="-1" class="k-button k-primary btn separate-btn" type="button"
                                    (mousedown)="getShipmentDataItemDetails()" >
                                    <i class="opti-icon-view-batch mr-1"></i>{{'Shipment_Detail'|translate}}
                                    </button>
                                </div>

                                <div class="ml-1 d-flex">
                                    <button tabIndex="-1" type="button" id="outCustomerCuCodeScan" 
                                        class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                        <i class="opti-icon-qr-code fs-24"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row"  *ngIf ="deliveryOptionType==1 || (deliveryOptionType==2 && orderCollection!=undefined && orderCollection!=null && orderCollection.length > 0)">
                        <label for="inputPassword"
                            class="col-sm-3 col-form-label">{{'Outbound_Customer'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input #scanCustomerCode (blur)="onCustomerCodeBlur()" id="outCustomerCustomerCodeInput"
                                    [disabled]='orderCollection!=undefined && orderCollection!=null && orderCollection.length > 0'
                                    type="text" class="form-control form-control-sm" name='customerCode'
                                    [(ngModel)]="customerCode" placeholder="{{'Outbound_Customer'|translate}}">
                                <div class="input-group-append">
                                    <button tabIndex="-1"
                                        [disabled]=' orderCollection!=undefined && orderCollection!=null && orderCollection.length>0'
                                        class="k-button k-primary btn" (mousedown)="openCustomerLookup()" type="button">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>

                                <div class="ml-1 d-flex">
                                    <button tabIndex="-1" type="button" id="outCustomerCuCodeScan" 
                                        class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                        <i class="opti-icon-qr-code fs-24"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- *ngIf="customerName!=undefined && customerName!=''" -->
                    <div class="form-group row"  *ngIf ="deliveryOptionType==1 || (deliveryOptionType==2 && orderCollection!=undefined && orderCollection!=null && orderCollection.length > 0)">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'Name'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="customerName"
                                    value="{{customerName}}" placeholder="{{'Outbound_CustomerName'|translate}}"
                                    [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf ="deliveryOptionType==2">
                        <label for="inputPassword"
                            class="col-sm-3 col-form-label">{{'outbound_Dock_DoorNo'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input #dockDoorID (blur)="onDockDoorBlur()" id="outDockDoorNoInput"
                                    type="text" class="form-control form-control-sm" name='DockDoorCode'
                                    [(ngModel)]="dockDoorCode" placeholder="{{'outbound_Dock_DoorNo'|translate}}">
                                <div class="input-group-append">
                                    <button tabIndex="-1"
                                        class="k-button k-primary btn" (mousedown)="getDockDoorList()" type="button">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>

                                <div class="ml-1 d-flex">
                                    <button tabIndex="-1" type="button" id="outDockDoorScan" 
                                        class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                        <i class="opti-icon-qr-code fs-24"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf ="deliveryOptionType==1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">{{'Outbound_SO'|translate}}</label>
                            <div class="col-sm-9">
                                <div class="input-group input-group-sm">
                                    <input #scanSO (blur)="onOrderNoBlur()" type="text" class="form-control form-control-sm"
                                        name='orderNumber' [(ngModel)]="orderNumber" id = "outCustomerSOInput"
                                        placeholder="{{'Outbound_SO'|translate}}">
                                    <div class="input-group-append">
                                        <button tabIndex="-1" class="k-button k-primary btn" (mousedown)="openOrderLookup()" type="button">
                                            <i class="opti-icon-hammenu"></i>
                                        </button>
                                    </div>
                                    <div class="ml-1 d-flex">
                                        <button tabIndex="-1" type="button" id="outCustomerSOScan" 
                                            class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                            <i class="opti-icon-qr-code fs-24"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="form-group row" *ngIf ="deliveryOptionType==1 || deliveryOptionType==2">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'TrackingId'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input #scanTracking (blur)="trackingIdBlur()" type="text" class="form-control form-control-sm" name="trackingId"
                                    [(ngModel)]="trackingId" placeholder="{{'EnterTrackingId'|translate}}"
                                    >
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf ="deliveryOptionType==1 || deliveryOptionType==2">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'CustomerRefNo'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" (blur)="customerRefNoBlur()" class="form-control form-control-sm" name="custRefNo"
                                    [(ngModel)]="CustRefNo" placeholder="{{'EnterCustomerRefNo'|translate}}"
                                   >
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row"
                *ngIf='(orderCollection!==undefined && orderCollection!==null && orderCollection.length>0)'>
                <div class="col-12">
                    <div>
                        <!-- (selectionChange)="openPOByUOM($event,soItemsDetail.ITEMCODE)" 
                        (selectionChange)="openSelectedDeleveryItem($event)"
                    (selectionChange)="openSelectedDeleveryItem($event)"-->
                        <kendo-grid class="no-shadow" [kendoGridBinding]="orderCollection" [resizable]="true"
                            [pageSize]="pageSize" [pageable]="pagable" [sortable]="true" [filterable]=isColumnFilter
                            [groupable]=isColumnGroup [height]=gridHeight  (selectionChange)="openSelectedDeleveryItem($event)" 
                            [selectable]="true" #gridItem 
                           >

                            <!-- grid for mobile start -->
                            <kendo-grid-column media="(max-width: 767px)" title="List" class="opti_mobile-grid-td">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <dl class="opti_mobile_grid_dl w-100">
                                        <dt class="d-flex align-items-center">{{'Outbound_OrderNo'|translate}}
                                            <button id="removeSelectedMeterial" (click)="removeOrder(idx,gridItem)"
                                                class="btn btn-danger k-button btn-sm btn-icon ml-auto">
                                                <span class="k-icon k-i-delete" role="presentation"></span></button>
                                        </dt>
                                        <dd>{{ dataItem.DOCNUM }}</dd>
                                    </dl>
                                </ng-template>
                            </kendo-grid-column>
                            <!-- grid for mobile end -->

                            <kendo-grid-column media="(min-width: 768px)" field="DOCNUM" title="Order No">
                            </kendo-grid-column>
                            <kendo-grid-column headerClass="text-center" class="text-center" media="(min-width: 768px)"
                                field="DOCNUM" [width]="80" title="{{'Delete'|translate}}">
                                <ng-template kendoGridCellTemplate let-idx="rowIndex">
                                    <button id="removeSelectedMeterial" (click)="removeOrder(idx,gridItem)"
                                        class="btn btn-danger k-button btn-sm btn-icon">
                                        <span class="k-icon k-i-delete" role="presentation"></span></button>
                                </ng-template>
                            </kendo-grid-column>
                        </kendo-grid>
                    </div>
                </div>
            </div>
        </div>
        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">

                    <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text" (click)="cancel()"><span
                        class="k-icon k-i-close-outline" role="presentation"></span> {{'Cancel'|translate}}</button>

                <button type="button"
                    [hidden]='!(orderCollection!==undefined && orderCollection!==null && orderCollection.length>0)'
                    (click)="prepareDeleiveryCollection()"
                    class="btn btn-success k-button btn-sm btn-icon-with-text"><span class="k-icon k-i-check"
                        role="presentation"></span> {{'Deleiver'|translate}}</button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-transparent btn-icon"
                    [disabled]="!customerCode" (click)="openCustSO(true)" roterLink="binTransfer" skipLocationChange><i
                        class="opti-icon-arrow-next"></i></button>

                <button type="button" id="Hid_outboundCustomerCodeScanBtn" style="visibility:hidden"
                    (click)="hiddenScanCustCodeBtn()"
                    class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                    SB </button>

                    <button type="button" id="Hid_OutCustSOScanBtn" style="visibility:hidden"
                    (click) = "hiddenScanSoBtn()"
                    class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                    SB </button>

            </div>
        </div>
    </form>


</div>
<!-- Lookup -->
<span *ngIf="showLookup==true && showLookupLoader==false">
    <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-lookup>
</span>
<!-- Loader -->
<div class="opti_loader full-section" *ngIf="showLookupLoader==true">
    <div class="opti_spinner"></div>
</div>

<!-- Dialog -->
<span *ngIf="showConfirmDialog">
    <app-comon-confirm-dialog [titleMessage]="dialogMsg" [fromWhere]="dialogFor" [noButtonText]="noButtonText"
        [yesButtonText]="yesButtonText" (isYesClick)="getConfirmDialogValue($event)"></app-comon-confirm-dialog>
</span>
<span *ngIf="showShipmentInfo==true">
 <app-shipmentinfo  [serviceData]='ShipmentItems' (lookupOutputEvent)="getShipmentLookupEvent($event)"></app-shipmentinfo>
</span> 