<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'Delivery'|translate}}
            </h3>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'Customer'|translate}}</label>
                        <div class="col-sm-9">                            
                            <div class="input-group input-group-sm"  >
                                <input [disabled]='orderCollection!=undefined && orderCollection!=null && orderCollection.length>0'  type="text" class="form-control form-control-sm" name='customerCode' [(ngModel)]="customerCode"
                                    placeholder="{{'Customer'|translate}}">
                                <div class="input-group-append">
                                    <button [disabled]='orderCollection!=undefined && orderCollection!=null && orderCollection.length>0' class="k-button k-primary btn" (click)="openCustomerLookup()" type="button">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- *ngIf="customerName!=undefined && customerName!=''" -->
                    <div class="form-group row" >
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'Name'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="customerName" value="{{customerName}}" [disabled]="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row"  *ngIf='(orderCollection!==undefined && orderCollection!==null && orderCollection.length>0)'>
                <div class="col-12">
                    
                    <div>
                        <!-- (selectionChange)="openPOByUOM($event,soItemsDetail.ITEMCODE)" -->
                        <kendo-grid class="no-shadow" [kendoGridBinding]="orderCollection" [resizable]="true"
                            [pageSize]="50" [pageable]="true" [sortable]="true" [filterable]=isColumnFilter
                            [groupable]=isColumnGroup [height]=gridHeight
                            [selectable]="true" #gridItem>

                            <!-- grid for mobile start -->
                            <kendo-grid-column media="(max-width: 767px)" title="List" class="opti_mobile-grid-td">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <dl class="opti_mobile_grid_dl w-100">
                                        <dt class="d-flex align-items-center">{{'OrderNo'|translate}}
                                            <button id="removeSelectedMeterial" (click)="removeSelectedMeterial(idx,gridSelectedMeterial)"
                                            class="btn btn-danger k-button btn-sm btn-icon ml-auto"> 
                                            <span class="k-icon k-i-delete" role="presentation"></span></button>
                                        </dt>
                                        <dd>{{ dataItem.DOCNUM }}</dd>
                                    </dl>
                                </ng-template>
                            </kendo-grid-column>
                            <!-- grid for mobile end -->

                            <kendo-grid-column media="(min-width: 768px)" field="DOCNUM" title="{{'OrderNo'|translate}}" [width]="90"></kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" field="DOCNUM"  [width]="10" title="">
                                <ng-template kendoGridCellTemplate let-idx="rowIndex">
                                    <button id="removeSelectedMeterial" (click)="removeSelectedMeterial(idx,gridSelectedMeterial)"
                                        class="btn btn-danger k-button btn-sm btn-icon"> 
                                        <span class="k-icon k-i-delete" role="presentation"></span></button>
                                </ng-template>
                            </kendo-grid-column>
                        </kendo-grid>

                    </div>
                </div>
            </div>

        </div>
        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">
                <button type="button" [hidden]='!(orderCollection!==undefined && orderCollection!==null && orderCollection.length>0)'
                     (click)="prepareDeleiveryCollection()" class="btn btn-success k-button btn-sm btn-icon-with-text"><span
                        class="k-icon k-i-check" role="presentation"></span> {{'Deleiver'|translate}}</button>
                <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text" (click)="cancel()"><span
                        class="k-icon k-i-close-outline" role="presentation"></span> {{'Cancel'|translate}}</button>
                <button type="button" class="btn btn-outline-secondary btn-sm btn-transparent btn-icon" [disabled]="!customerCode"
                    (click)="openCustSO()" roterLink="binTransfer" skipLocationChange><i class="opti-icon-arrow-next"></i></button>

            </div>
        </div>
    </form>


</div>

<span *ngIf="showLookup==true">
    <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-lookup>
</span>