<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'ReceiveForPO'|translate}}: {{Ponumber}}
            </h3>


            <!-- Kendo Table Grid Row start -->
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <kendo-grid class="no-shadow" [kendoGridBinding]="openPOLineModel" [resizable]="true" [pageSize]="2" [pageable]="false" [sortable]="true"
                        [filterable]=isColumnFilter [groupable]=isColumnGroup [columnMenu]="{ columnChooser: false }" [height]=gridHeight
                        [selectable]="true" (selectionChange)="openPOByUOM($event,soItemsDetail.ITEMCODE)" #gridItem>


                        <kendo-grid-column field="ITEMCODE" title="{{'ItemCode'|translate}}"></kendo-grid-column>
                        <kendo-grid-column field="OPENQTY" title="{{'OpenQty'|translate}}" class="text-right">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                {{dataItem.OPENQTY | number:'1.3-5'}}
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="RPTQTY" title="{{'ReceiveQty'|translate}}" class="text-right">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                {{dataItem.RPTQTY | number:'1.3-5'}}
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="UOM1" title="{{'UoM'|translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <kendo-dropdownlist class="form-control" name="uomSelectedVal" [(ngModel)]="uomSelectedVal" [data]="dataItem.UOMList" textField="UomName"
                                    valueField="UomCode"></kendo-dropdownlist>
                            </ng-template>
                        </kendo-grid-column>

                    </kendo-grid>
                </div>
            </div>
            <!-- Kendo Table Grid Row end -->

            <div class="row row mt-4">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'ReceivingBin'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="RecvbBinvalue" [(ngModel)]=RecvbBinvalue placeholder="{{'ReceivingBin'|translate}}"
                                    (blur)="OnBinChange()">
                                <div class="input-group-append has-seprate-btn">
                                    <button class="k-button k-primary btn" type="button" (click)="ShowBins()">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'ExpiryDate'|translate}}</label>
                        <div class="col-sm-9">
                            <kendo-datepicker [format]="'MM/dd/yy'" [value]="value" name="expiryDate" [(ngModel)]=expiryDate placeholder="MM/dd/yy"></kendo-datepicker>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'Quantity'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="d-flex">
                                <input type="text" class="form-control form-control-sm" name="qty" [(ngModel)]=qty placeholder="{{'Quantity'|translate}}">
                                <div class="ml-1 d-flex">
                                    <button class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0" type="button" (click)="addQuantity(event)">
                                        <i class="opti-icon-add1 fs-28"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


            <!-- Kendo Table Grid Row start -->
            <div class="row mt-3">
                <div class="col-md-12">
                    <kendo-grid class="no-shadow" [kendoGridBinding]="recvingQuantityBinArray" [sortable]="true" [selectable]="true" #gridItem>

                        <!-- grid template start -->
                        <ng-template kendoGridToolbarTemplate>
                            <!-- show hide column start show hide -->
                            <kendo-grid-column-chooser class="float-left"></kendo-grid-column-chooser>

                            <!-- checkbox -->
                            <form class="k-form opti_show-hide-grid-column-filter float-left">
                                <div class="k-form-field float-left">
                                    <input #chkFilter type="checkbox" (change)="onFilterChange(chkFilter,gridItem)" id="opti_RcvItemAddColumnFilterID" [(ngModel)]="isColumnFilter2"
                                        class="k-checkbox" name="columnfilter" />
                                    <label class="k-checkbox-label" for="opti_RcvItemAddColumnFilterID">Enable Filter</label>
                                </div>

                                <div class="k-form-field float-left">
                                    <input type="checkbox" id="opti_RcvItemAddColumnGroupID" [(ngModel)]="isColumnGroup2" class="k-checkbox" name="columnGroup"
                                    />
                                    <label class="k-checkbox-label" for="opti_RcvItemAddColumnGroupID">Enable Grouping</label>
                                </div>
                            </form>

                        </ng-template>

                        <kendo-grid-column field="MfrSerial" [width]="6" title="{{'MfrSerialNo'|translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <input type="text" class="form-control form-control-sm" name="RecvbBinvalue">
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="searlNo" [width]="6" title="{{'SerialNo'|translate}}"></kendo-grid-column>
                        <kendo-grid-column field="Quantity" headerClass="text-right" class="text-right" [width]="6" title="{{'Qty'|translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                {{dataItem.Quantity | number:'1.3-5'}}
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="Bin" [width]="6" title="{{'Bin'|translate}}"></kendo-grid-column>
                        <kendo-grid-column field="expiryDate" [width]="6" title="{{'ExpiryDate'|translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                {{dataItem.expiryDate | date:'MM/dd/yy'}}
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="" [width]="6" title="">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <button type="button" class="k-button-icon k-button" (click)="DeleteRowClick(rowIndex, gridItem)">
                                    <span class="k-icon k-i-delete" role="presentation"></span>
                                </button>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid>
                </div>
            </div>
            <!-- Kendo Table Grid Row end -->
        </div>
        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">

                <button class="k-button k-primary" *ngIf="showButton" type="button" (click)="save($event)">Save</button>
                <button class="k-button k-primary" *ngIf="showButton" type="button" (click)="receive($event)">Receive</button>
                <button class="k-button k-primary" type="button" (click)="cancel($event)">Cancel</button>
            </div>
        </div>
    </form>
</div>

<span [hidden]="showLookupLoader">
    <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-lookup>
</span>