<div class="opti_container position-relative bg-white rounded">
    <div class="container-fluid">

        <h3 class="border-bottom d-flex pt-4 pb-3 mb-4">
            {{'BinTransfer'|translate}}
        </h3>
        <form>
        <div class="row">
          <div class="col-sm-4">
            
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">{{'ItemCode'|translate}}</label>
                <div class="col-sm-9">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm" placeholder="Batch No">
                        <div class="input-group-append">
                          <button class="k-button k-primary btn" type="submit"><i class="opti-icon-hammenu"></i></button>
                        </div>
                    </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">{{'BatchNo'|translate}}</label>
                <div class="col-sm-9">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm" placeholder="Batch No">
                        <div class="input-group-append">
                          <button class="k-button k-primary btn" type="submit"><i class="opti-icon-hammenu"></i></button>
                        </div>
                    </div>
                </div>
              </div> 
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">{{'FromBin'|translate}}</label>
                <div class="col-sm-9">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm" placeholder="From Bin">
                        <div class="input-group-append">
                          <button class="k-button k-primary btn" type="submit"><i class="opti-icon-hammenu"></i></button>
                        </div>
                    </div>
                </div>
              </div> 
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">{{'ToBin'|translate}}</label>
                <div class="col-sm-9">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm" placeholder="To Bin">
                        <div class="input-group-append">
                          <button class="k-button k-primary btn" type="submit"><i class="opti-icon-hammenu"></i></button>
                        </div>
                    </div>
                </div>
              </div> 
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">{{'OnHandQty'|translate}}</label>
                <div class="col-sm-9">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm" placeholder="OnHand Qty">
                        <div class="input-group-append">
                          <button class="k-button k-primary btn" type="submit"><i class="opti-icon-hammenu"></i></button>
                        </div>
                    </div>
                </div>
              </div> 
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">{{'TransferQty'|translate}}</label>
                <div class="col-sm-9">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm" placeholder="Transfer Qty">
                        <div class="input-group-append">
                          <button class="k-button k-primary btn" type="submit"><i class="opti-icon-hammenu"></i></button>
                        </div>
                    </div>
                </div>
              </div> 
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">{{'Reason'|translate}}</label>
                <div class="col-sm-9">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm" placeholder="Reason">
                        <div class="input-group-append">
                          <button class="k-button k-primary btn" type="submit"><i class="opti-icon-hammenu"></i></button>
                        </div>
                    </div>
                </div>
              </div> 

          </div>
        </div>

      <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn k-button k-primary btn-sm">{{'Submit'|translate}}</button>
            <button type="button" class="btn btn-success k-button btn-sm">{{'AddMore'|translate}}</button>            
            <button type="button" class="btn btn-light k-button btn-sm">{{'ViewLines'|translate}}</button>
            <button type="button" class="btn btn-danger k-button btn-sm">{{'Cancel'|translate}}</button>
        </div>

    </form>
  </div> 
</div>   