<div class="opti_container position-relative bg-white rounded" >
  <form class="form-with-fix-btnBar"  *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{PageTitle}}
            </h3>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'ItemCode'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" placeholder="{{'ItemCode'|translate}}" name="itemCode"
                                 [(ngModel)]="itemCode" (blur)="OnItemCodeChange()">
                                <div class="input-group-append">
                                    <button class="k-button k-primary btn" type="button" (click)="OnItemCodeLookupClick()">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" *ngIf="showItemName">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'ItemName'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm"  name="itemName" 
                                [(ngModel)]="itemName" [disabled]=true>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" *ngIf="showBatchNo">
                        <label for="inputPassword" class="col-sm-3 col-form-label">
                            <span *ngIf="!isItemSerialTrack">{{'BatchNo'|translate}}</span>
                            <span *ngIf="isItemSerialTrack">{{'SerialNo'|translate}}</span>
                        </label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" placeholder="{{'BatchNo'|translate}}" name="lotValue" [(ngModel)]="lotValue" (blur)="OnLotChange()">
                                <div class="input-group-append">
                                    <button class="k-button k-primary btn" type="button" (click)="ShowLOTList()">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'FromBin'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" placeholder="{{'FromBin'|translate}}" name="fromBin" [(ngModel)]="fromBin" (blur)="OnFromBinChange()">
                                <div class="input-group-append">
                                    <button class="k-button k-primary btn" type="button" (click)="ShowFromBins()">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'ToBin'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" placeholder="{{'ToBin'|translate}}" name="toBin" [(ngModel)]="toBin" (blur)="OnToBinChange()">
                                <div class="input-group-append">
                                    <button class="k-button k-primary btn" type="button" (click)="ShowToBins()">
                                        <i class="opti-icon-hammenu"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">
                            <span *ngIf="!isItemSerialTrack">{{'OnHandQty'|translate}}</span>
                            <span *ngIf="isItemSerialTrack">{{'SerialQty'|translate}}</span>
                        </label>
                        <div class="col-sm-9">
                            <input  type="number" min="0" class="form-control form-control-sm text-right" placeholder="0.000" 
                            name="onHandQty" [(ngModel)]="onHandQty" [disabled]=true>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'TransferQty'|translate}}</label>
                        <div class="col-sm-9">
                            <input id="txtfld" type="number" min="0" class="form-control form-control-sm text-right" placeholder="0.000" (blur)="formatTransferNumbers()"
                            name="transferQty" [(ngModel)]="transferQty" [disabled]="editTransferQty">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'Reason'|translate}}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="{{'Reason'|translate}}" name="Remarks" [(ngModel)]="Remarks">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="fix-footer-btnBar">
        <div class="col-sm-12 col-12">
            <hr />
        </div>
        <div class="col-sm-12 col-12">
            <button type="button" class="btn btn-success k-button btn-sm btn-icon-with-text" (click)="SubmitPutAway()"><span class="k-icon k-i-check" role="presentation"></span> {{'Submit'|translate}}</button>
            <button type="button" class="btn btn-primary k-button btn-sm btn-icon-with-text" (click)="AddLineLots()"><span class="k-icon k-i-plus" role="presentation" ></span> {{'AddMore'|translate}}</button>   
            <button type="button" class="btn btn-primary k-button btn-sm btn-icon-with-text mr-1" (click)="ShowSavedData()"><span class="k-icon k-i-preview" role="presentation"></span> {{'ViewLines'|translate}}</button>
            <div class="clearfix mt-1 d-block d-sm-none"></div> 
            <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text"><span class="k-icon k-i-close-outline" (click)="goback()" role="presentation"></span> {{'Cancel'|translate}}</button>
        </div>
        </div>
  </form>

  <!-- USE THIS HTML CODE BLOCK FOR VIEW LINE PAGE -->
  <form class="form-with-fix-btnBar" *ngIf="viewLines">
    <div class="opti_container_inner" [perfectScrollbar]=" ">

      <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
          {{'AddedItems'|translate}}
      </h3>      
      <div class="row">
        <div class="col-sm-12 col-12">            
            <!-- loader start -->
            <div class="opti_loader opti_loader-content-tab" *ngIf="showLoader">
              <div class="opti_spinner"></div>
            </div>
            <!-- loader end -->  

            <!-- grid start -->
            <ng-container *ngIf="showLoader==false">
              <kendo-grid 
              class="no-shadow"
                [kendoGridBinding]="TransferedItemsDetail" 
                [resizable]="false" 
                [pageSize]="50" 
                [pageable]="true" 
                [sortable]="true"  
                [selectable]="true" 
                #gridItem>

                <!-- grid for mobile start -->
                <kendo-grid-column media="(max-width: 767px)" title="List" class="opti_mobile-grid-td">
                  <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      <dl class="opti_mobile_grid_dl">
                          <dt>{{'Item'|translate}}</dt>
                          <dd>{{ dataItem.ItemCode }}</dd>

                          <dt>{{'Batch'|translate}}</dt>
                          <dd>{{ dataItem.LotNo }}</dd>

                          <dt>{{'ToBin'|translate}}</dt>
                          <dd>{{ dataItem.ToBin }}</dd>
                      </dl>

                      <dl class="opti_mobile_grid_dl">
                          <dt class="d-flex align-items-center">{{'Qty'|translate}}

                                <button type="button" class="btn btn-danger k-button btn-sm btn-icon ml-auto" (click)="ViewLinesRowDeleteClick(rowIndex, gridItem)"><span class="k-icon k-i-delete" role="presentation"></span></button>
                          </dt>
                          <dd>{{ dataItem.Qty }}</dd>

                          <dt>{{'FromBin'|translate}}</dt>
                          <dd>{{ dataItem.BinNo }}</dd>
                      </dl>
                  </ng-template>
              </kendo-grid-column>
              <!-- grid for mobile end -->

                <kendo-grid-column class="pl-1" media="(min-width: 768px)" field="ItemCode" title="{{'Item'|translate}}" [width]="160"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="Qty" headerClass="text-right" class="text-right" title="{{'Qty'|translate}}" [width]="60"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="LotNo" [width]="160" title="{{'Batch'|translate}}"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="BinNo" [width]="160" title="{{'FromBin'|translate}}" ></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="ToBin" title="{{'ToBin'|translate}}" [width]="160"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="Delete" title="{{'Delete'|translate}}" width="10">
                  <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <button type="button" class="btn btn-danger k-button btn-sm btn-icon" (click)="ViewLinesRowDeleteClick(rowIndex, gridItem)"><span class="k-icon k-i-delete" role="presentation"></span></button>
                  </ng-template>
                </kendo-grid-column>
              </kendo-grid>
            </ng-container>
            <!-- grid end -->
        </div>
      </div>      
    </div>
    <div class="fix-footer-btnBar">
      <div class="col-sm-12 col-12">
          <hr />
      </div>
      <div class="col-sm-12 col-12">
          <button type="button" class="btn btn-success k-button btn-sm btn-icon-with-text" (click)="OnOKClick()"><span class="k-icon k-i-check" role="presentation"></span> {{'Ok'|translate}}</button>
          <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text" (click)="openModal(template)"><span class="k-icon k-i-delete" role="presentation"></span> {{'DeleteAll'|translate}}</button>
      </div>
    </div>
  </form>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{'Confirm'|translate}}</h4>
      <button id="modalCloseBtn" type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        {{'DoYouWantToDeleteAllTheLines'|translate}} 
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary k-button btn-sm" type="button" (click) = "deleteAllOkClick()">{{'Ok'|translate}}</button>
      <button class="btn btn-default k-button btn-sm" type="button" (click)="modalRef.hide()">{{'Cancel'|translate}}</button>
    </div>
  </ng-template>
</div>   

<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-auto-name" class="modal-title pull-left">{{'Confirm'|translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
            {{ModalContent}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary k-button btn-sm" type="button" #transferedItemsBtn>{{'Ok'|translate}}</button>
            <button class="btn btn-default k-button btn-sm" type="button" (click)="hideModal()">{{'Cancel'|translate}}</button>
        </div>
    </div>
  </div>
</div>

<span [hidden]="showLookupLoader">
    <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-lookup>    
</span>