<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{PageTitle}}
            </h3>
            <div class="row" *ngIf="(isPalletizationEnable || isShipmentContainerEnable)">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6" *ngIf="showBinFields">
                    <div class="row mt-3">
                        <!-- <label for="inputPassword" class="col-sm-3 col-form-label">{{'ScanInputs'|translate}}</label> -->
                        <div class="col-sm-9">
                            <fieldset class="d-block w-100">
                                <div class="d-flex align-items-center w-100">
                                    <div class="d-flex align-items-center" (mousedown)="onRadioMouseDown('byItem')">
                                        <input type="radio" #byItemRadio name="byItem" id="byItem" (click)="handleCheckChange($event)" class="k-radio" [checked]="radioSelected == 0"
                                        />
                                        <label class="k-radio-label" for="byItem">{{'Plt_ByItem'|translate}}</label>
                                    </div>
                                    <div *ngIf="isPalletizationEnable" class="d-flex align-items-center ml-3" (mousedown)="onRadioMouseDown('byPallet')">
                                        <input type="radio" #byItemRadio name="byPlt" id="byPallet" class="k-radio" (click)="handleCheckChange($event)" [checked]="radioSelected == 1"
                                        />
                                        <label class="k-radio-label" for="byPallet">{{'Plt_ByPallet'|translate}}</label>
                                    </div>
                                    <div *ngIf="isShipmentContainerEnable" class="d-flex align-items-center ml-3" (mousedown)="onRadioMouseDown('ByContainer')">
                                        <input type="radio" #byContainerRadio name="ByContainer" id="ByContainer" class="k-radio" (click)="handleCheckChange($event)"
                                            [checked]="radioSelected == 2" />
                                        <label class="k-radio-label" for="byContainer">{{'ByContainer'|translate}}</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <!--if selected radio is  by item start -->
            <div class="row mt-3" *ngIf="radioSelected == 0">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'ItemCode'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" #scanItemCode class="form-control form-control-sm" id="binTransferScanItemCodeInput" placeholder="{{'ItemCode'|translate}}"
                                    name="itemCode" id="binTransferItemCodeScan" [(ngModel)]="itemCode" (blur)="OnItemCodeChangeBlur()">
                                <div class="input-group-append">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="OnItemCodeLookupClick()">
                                        <i class="opti-icon-search"></i>
                                    </button>
                                </div>
                                <div class="ml-1 d-flex">
                                    <button tabindex="-1" *ngIf="IsUDFEnabled == 'Y'" class="k-button k-primary btn custom-icon-button" type="button" (mousedown)="ShowUDF('Detail')">
                                        <span class="k-icon k-i-plus-outline "></span>{{'UDF'|translate}}
                                    </button>
                                </div>
                                <div class="ml-1 d-flex">
                                    <button tabIndex="-1" type="button" id="binTransferScanItemCodeBtn" (mousedown)="onInboundScan()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                        <i class="opti-icon-qr-code fs-24"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" *ngIf="showItemName">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'ItemName'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="itemName" [(ngModel)]="itemName" [attr.disabled]="true?'':null">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" *ngIf="showBatchNo">
                        <label for="inputPassword" class="col-sm-3 col-form-label">
                            <span *ngIf="!isItemSerialTrack">{{'BatchNo'|translate}}</span>
                            <span *ngIf="isItemSerialTrack">{{'SerialNo'|translate}}</span>
                        </label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" #scanLotNo class="form-control form-control-sm" id="binTransferBatchNoInput" placeholder="{{batchNoPlaceholder}}"
                                    name="lotValue" [(ngModel)]="lotValue" (blur)="OnLotChangeBlur()">
                                <div class="input-group-append">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="ShowLOTList()">
                                        <i class="opti-icon-search"></i>
                                    </button>
                                </div>
                                <!-- <div class="ml-1 d-flex">
                                    <button tabindex="-1" *ngIf="IsUDFEnabled == 'Y'&&false" class="k-button k-primary btn custom-icon-button" type="button" (mousedown)="ShowUDF('Lot')">
                                        <span class="k-icon k-i-plus-outline "></span>{{'UDF'|translate}}
                                    </button>
                                </div> -->
                                <div class="ml-1 d-flex">
                                    <button tabIndex="-1" type="button" id="binTransferScanBatchSerialBtn" (mousedown)="onInboundScan()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                        <i class="opti-icon-qr-code fs-24"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="showBinFields">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'InvTransfer_FromBin'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" #scanFromBin id="binTransferFromBinInput" class="form-control form-control-sm" placeholder="{{'InvTransfer_FromBin'|translate}}"
                                    name="fromBin" [(ngModel)]="fromBin" (blur)="OnFromBinChangeBlur()">
                                <div class="input-group-append">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="ShowFromBins()">
                                        <i class="opti-icon-search"></i>
                                    </button>
                                </div>
                                <div class="ml-1 d-flex">
                                    <button tabIndex="-1" type="button" id="binTransferScanFromBinScanBtn" (mousedown)="onInboundScan()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                        <i class="opti-icon-qr-code fs-24"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="showBinFields">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'InvTransfer_ToBin'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" #scanToBin class="form-control form-control-sm" id="binTransferToBinInput" placeholder="{{'InvTransfer_ToBin'|translate}}"
                                    name="toBin" [(ngModel)]="toBin" (blur)="OnToBinChangeBlur()">
                                <div class="input-group-append">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="ShowToBins()">
                                        <i class="opti-icon-search"></i>
                                    </button>
                                </div>
                                <div class="ml-1 d-flex">
                                    <button tabIndex="-1" type="button" id="binTransferScanToBinScanBtn" (mousedown)="onInboundScan()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                        <i class="opti-icon-qr-code fs-24"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">
                            <span *ngIf="!isItemSerialTrack">{{'OnHandQty'|translate}}</span>
                            <span *ngIf="isItemSerialTrack">{{'SerialQty'|translate}}</span>
                        </label>
                        <div class="col-sm-9">
                            <input type="number" min="0" class="form-control form-control-sm text-right" placeholder="{{zero}}" name="onHandQty" [(ngModel)]="onHandQty"
                                [attr.disabled]="true ? '' : null">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'InvTransfer_TransferQty'|translate}}</label>
                        <div class="col-sm-9">
                            <input #scanTransQty id="txtfld" type="number" min="0" class="form-control form-control-sm text-right" placeholder="{{zero}}"
                                (blur)="formatTransferNumbers()" id="transferQty" name="transferQty" [(ngModel)]="transferQty"
                                [disabled]="editTransferQty">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'InvTransfer_Reason'|translate}}</label>
                        <div class="col-sm-9">
                            <input #scanReason type="text" class="form-control form-control-sm" placeholder="{{'InvTransfer_Reason'|translate}}" id="remarkByItem"
                                name="Remarks" [(ngModel)]="Remarks">
                        </div>
                    </div>

                </div>
            </div>

            <!--if selected radio is  by item end -->


            <!--if selected radio is  by pallet start -->
            <div class="row mt-3" *ngIf="radioSelected == 1">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'Plt_PalletNo'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" #scanPallet class="form-control form-control-sm" id="binTransferScanByPalletPalletNoInput" placeholder="{{'Plt_PalletNo'|translate}}"
                                    name="palletNo" [(ngModel)]="palletNo" (blur)="onPalletChangeBlur()">
                                <div class="input-group-append has-seprate-btn">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="getPalletList()">
                                        <i class="opti-icon-search"></i>
                                    </button>

                                </div>
                                <div class="ml-1 d-flex">
                                    <button tabIndex="-1" type="button" id="binTransferByPalletPalletNoScanBtn" (mousedown)="onInboundScan()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                        <i class="opti-icon-qr-code fs-24"></i>
                                    </button>
                                    <button tabIndex="-1" class="k-button k-primary btn separate-btn" type="button" (mousedown)="showSelectedPallets()" *ngIf="selectedPallets.length>0">
                                        <i class="opti-icon-view-batch mr-1"></i>{{'Plt_Pallets'|translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'InvTransfer_ToBin'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" #scanToBinOther class="form-control form-control-sm" id="binTransferByPalletToBinNoInput" placeholder="{{'InvTransfer_ToBin'|translate}}"
                                    name="toBin" [(ngModel)]="toBin" (blur)="OnToBinChange()">
                                <div class="input-group-append has-seprate-btn">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="ShowToBins()">
                                        <i class="opti-icon-search"></i>
                                    </button>
                                    <div class="d-flex">
                                        <button tabIndex="-1" type="button" id="binTransferByPlletToBinScanbtn" (mousedown)="onInboundScan()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                            <i class="opti-icon-qr-code fs-24"></i>
                                        </button>
                                    </div>
                                    <button tabIndex="-1" class="k-button k-primary btn separate-btn ml-1 custom-icon-button" type="button" *ngIf="!isNonTrack"
                                        (mousedown)="onAddPalletClick()">
                                        <span class="k-icon k-i-plus-outline fs-12 mr-1"></span>{{'Plt_Pallets'|translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'InvTransfer_Reason'|translate}}</label>
                        <div class="col-sm-9">
                            <input #scanReasonByPallet type="text" class="form-control form-control-sm" placeholder="{{'InvTransfer_Reason'|translate}}"
                                name="Remarks" [(ngModel)]="Remarks">
                        </div>
                    </div>
                </div>
            </div>
            <!--if selected radio is  by pallet end -->



            <!--if selected radio is  by pallet start -->
            <div class="row mt-3" *ngIf="radioSelected == 2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'ContainerId'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" #scanPallet class="form-control form-control-sm" id="binTransferScanContainerNoInput" placeholder="{{'ContainerId'|translate}}"
                                    name="ContainerCode" [(ngModel)]="containerCode" (blur)="onContainerChange()">
                                <div class="input-group-append has-seprate-btn">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="getContainerList()">
                                        <i class="opti-icon-search"></i>
                                    </button>

                                </div>
                                <div class="ml-1 d-flex">
                                    <button tabIndex="-1" type="button" id="binTransferByPalletPalletNoScanBtn" (mousedown)="onInboundScan()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                        <i class="opti-icon-qr-code fs-24 "></i>
                                    </button>
                                    <button tabIndex="-1" class="k-button k-primary btn separate-btn" type="button" (mousedown)="showSelectedContainers()" *ngIf="selectedContainers.length>0">
                                        <i class="opti-icon-view-batch mr-1"></i>{{'Container'|translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'InvTransfer_ToBin'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" #scanToBinOther class="form-control form-control-sm" id="binTransferByPalletToBinNoInput" placeholder="{{'InvTransfer_ToBin'|translate}}"
                                    name="toBin" [(ngModel)]="toBin" (blur)="OnToBinChangeBlur()">
                                <div class="input-group-append has-seprate-btn">
                                    <button tabIndex="-1" class="k-button k-primary btn" type="button" (mousedown)="ShowToBins()">
                                        <i class="opti-icon-search"></i>
                                    </button>
                                    <div class="d-flex">
                                        <button tabIndex="-1" type="button" id="binTransferByPlletToBinScanbtn" (mousedown)="onInboundScan()" class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0">
                                            <i class="opti-icon-qr-code fs-24"></i>
                                        </button>
                                    </div>
                                    <button tabIndex="-1" class="k-button k-primary btn separate-btn ml-1 custom-icon-button" type="button" *ngIf="!isNonTrack"
                                        (mousedown)="onAddContainerClick()">
                                        <span class="k-icon k-i-plus-outline fs-12 mr-1"></span>{{'Container'|translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'InvTransfer_Reason'|translate}}</label>
                        <div class="col-sm-9">
                            <input #scanReasonByPallet type="text" class="form-control form-control-sm" placeholder="{{'InvTransfer_Reason'|translate}}"
                                name="Remarks" [(ngModel)]="Remarks">
                        </div>
                    </div>
                </div>
            </div>
            <!--if selected radio is  by pallet end -->



            <!--if selected radio is  by container end -->
        </div>
        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">
                <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text" (mousedown)="goBack()">
                    <span class="k-icon k-i-close-outline" role="presentation"></span> {{'Cancel'|translate}}</button>

                <button type="button" class="btn btn-primary k-button btn-sm btn-icon-with-text" (mousedown)="AddLineLots('add')" *ngIf="radioSelected==0">
                    <span class="k-icon k-i-plus" role="presentation"></span> {{'AddMore'|translate}}
                </button>
                <!-- <button type="button" class="btn btn-primary k-button btn-sm btn-icon-with-text" (mousedown)="ShowUDF('Detail')" *ngIf="radioSelected==0">
                    <span class="k-icon k-i-plus" role="presentation"></span> {{'AddMore'|translate}}
                </button> -->

                <button type="button" class="btn btn-primary k-button btn-sm btn-icon-with-text mr-1" (mousedown)="ShowSavedData()">
                    <span class="k-icon k-i-preview" role="presentation"></span>
                    {{'InvTransfer_ViewLines'|translate}}</button>
                <button tabindex="-1" *ngIf="IsUDFEnabled == 'Y'" class="k-button k-primary btn custom-icon-button" type="button" (mousedown)="ShowUDF('Header')">
                    <span class="k-icon k-i-plus-outline "></span>{{'UDF'|translate}}
                </button>
                <button type="button" class="btn btn-success k-button btn-sm btn-icon-with-text" (mousedown)="SubmitPutAway()">
                    <span class="k-icon k-i-check" role="presentation"></span> {{'Submit'|translate}}</button>

                <!-- <button type="button" class="btn btn-success k-button btn-sm btn-icon-with-text" (mousedown)="ShowUDF('Header')">
                    <span class="k-icon" role="presentation"></span> {{'UDF'|translate}}</button> -->



                <button type="button" id="hid_btnBinTransferItemCodeScanBtn" style="visibility:hidden" (click)="onHiddenBinTransferItemCodeScanClick()"
                    class="btn btn-primary k-button btn-sm btn-icon-with-text mr-0.5">
                    <i [ngClass]="manageEyeIcon? 'opti-icon-eye mr-2':'opti-icon-eye-off mr-2'"></i>btn
                </button>
                <button type="button" id="hid_btnBinTransferBatchSerialScanBtn" style="visibility:hidden" (click)="onHiddenLotScanClick()"
                    class="btn btn-primary k-button btn-sm btn-icon-with-text mr-0.5">
                    <i [ngClass]="manageEyeIcon? 'opti-icon-eye mr-2':'opti-icon-eye-off mr-2'"></i>btn
                </button>
                <button type="button" id="hid_btnBinTransferFromBinScanBtn" style="visibility:hidden" (click)="onHiddenFromBinScanClick()"
                    class="btn btn-primary k-button btn-sm btn-icon-with-text mr-0.5">
                    <i [ngClass]="manageEyeIcon? 'opti-icon-eye mr-2':'opti-icon-eye-off mr-2'"></i>btn
                </button>
                <button type="button" id="hid_btnBinTransferToBinScanBtn" style="visibility:hidden" (click)="onHiddenToBinScanClick()" class="btn btn-primary k-button btn-sm btn-icon-with-text mr-0.5">
                    <i [ngClass]="manageEyeIcon? 'opti-icon-eye mr-2':'opti-icon-eye-off mr-2'"></i>btn
                </button>

                <button type="button" id="hid_btnBinTransferByPalletPalNoScanBtn" style="visibility:hidden" (click)="onHiddenByPalPalNoScanClick()"
                    class="btn btn-primary k-button btn-sm btn-icon-with-text mr-0.5">
                    <i [ngClass]="manageEyeIcon? 'opti-icon-eye mr-2':'opti-icon-eye-off mr-2'"></i>btn
                </button>

                <button type="button" id="hid_btnBinTransferByPalToBinScanBtn" style="visibility:hidden" (click)="onHiddenByPalToBinScanClick()"
                    class="btn btn-primary k-button btn-sm btn-icon-with-text mr-0.5">
                    <i [ngClass]="manageEyeIcon? 'opti-icon-eye mr-2':'opti-icon-eye-off mr-2'"></i>btn
                </button>



                <!-- <button type="button" id="hid_BtnbinTransferBatchNoInput" style="visibility:hidden"
                (click)="onHiddenByPalBatchNoScanClick()"
                class="btn btn-primary k-button btn-sm btn-icon-with-text mr-0.5">
                <i [ngClass]="manageEyeIcon? 'opti-icon-eye mr-2':'opti-icon-eye-off mr-2'"></i>btn
            </button> -->
                <div class="clearfix mt-1 d-block d-sm-none"></div>

            </div>
        </div>
    </form>

    <!-- USE THIS HTML CODE BLOCK FOR VIEW LINE PAGE -->
    <form class="form-with-fix-btnBar" *ngIf="viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">

            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'AddedItems'|translate}}
            </h3>
            <div class="row">
                <div class="col-sm-12 col-12">
                    <!-- loader start -->
                    <div class="opti_loader opti_loader-content-tab" *ngIf="showLoader">
                        <div class="opti_spinner"></div>
                    </div>
                    <!-- loader end -->

                    <!-- grid start -->
                    <ng-container *ngIf="showLoader==false">
                        <kendo-grid class="no-shadow" [kendoGridBinding]="TransferedItemsDetail" [resizable]="true" [sortable]="true" [selectable]="true"
                            #gridItem>

                            <!-- grid for mobile start -->
                            <kendo-grid-column media="(max-width: 767px)" title="List" class="opti_mobile-grid-td">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <dl class="opti_mobile_grid_dl">
                                        <dt [hidden]="gridColumnVisibilityArry.ItemCode == 'False'">{{'ItemCode'|translate}}</dt>
                                        <dd [hidden]="gridColumnVisibilityArry.ItemCode == 'False'">{{ dataItem.ItemCode }}</dd>

                                        <dt [hidden]="gridColumnVisibilityArry.LotNo == 'False'">{{'BatchNo'|translate}}</dt>
                                        <dd [hidden]="gridColumnVisibilityArry.LotNo == 'False'">{{ dataItem.LotNo }}</dd>

                                        <dt [hidden]="gridColumnVisibilityArry.ToBin == 'False'">{{'InvTransfer_ToBin'|translate}}</dt>
                                        <dd [hidden]="gridColumnVisibilityArry.ToBin == 'False'">{{ dataItem.ToBin }}</dd>
                                    </dl>

                                    <dl class="opti_mobile_grid_dl">
                                        <dt [hidden]="gridColumnVisibilityArry.Qty == 'False'" class="d-flex align-items-center">{{'Quantity'|translate}}

                                            <button type="button" class="btn btn-danger k-button btn-sm btn-icon ml-auto" (mousedown)="ViewLinesRowDeleteClick(rowIndex, gridItem)">
                                                <span class="k-icon k-i-delete" role="presentation"></span>
                                            </button>
                                        </dt>
                                        <dd [hidden]="gridColumnVisibilityArry.Qty == 'False'">{{ dataItem.Qty }}</dd>

                                        <dt [hidden]="gridColumnVisibilityArry.BinNo == 'False'">{{'InvTransfer_FromBin'|translate}}</dt>
                                        <dd [hidden]="gridColumnVisibilityArry.BinNo == 'False'">{{ dataItem.BinNo }}</dd>
                                    </dl>
                                </ng-template>
                            </kendo-grid-column>
                            <!-- grid for mobile end -->

                            <kendo-grid-column [hidden]="gridColumnVisibilityArry.ItemCode == 'False'" class="pl-1" media="(min-width: 768px)" field="ItemCode" title="{{'ItemCode'|translate}}" [width]="160"></kendo-grid-column>
                            <kendo-grid-column [hidden]="gridColumnVisibilityArry.Qty == 'False'" media="(min-width: 768px)" field="Qty" headerClass="text-right" class="text-right" title="{{'Quantity'|translate}}"
                                [width]="60"></kendo-grid-column>
                            <kendo-grid-column [hidden]="gridColumnVisibilityArry.LotNo == 'False'" media="(min-width: 768px)" field="LotNo" [width]="160" title="{{'BatchNo'|translate}}"></kendo-grid-column>
                            <kendo-grid-column [hidden]="gridColumnVisibilityArry.BinNo == 'False'" media="(min-width: 768px)" field="BinNo" [width]="160" title="{{'InvTransfer_FromBin'|translate}}"></kendo-grid-column>
                            <kendo-grid-column [hidden]="gridColumnVisibilityArry.ToBin == 'False'" media="(min-width: 768px)" field="ToBin" title="{{'InvTransfer_ToBin'|translate}}" [width]="160"></kendo-grid-column>
                            <kendo-grid-column media="(min-width: 768px)" field="Delete" headerClass="text-center" class="text-center" title="" width="30"
                                *ngIf="radioSelected == 0 || !(isPalletizationEnable || isShipmentContainerEnable)">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <button type="button" class="btn btn-danger k-button btn-sm btn-icon" (mousedown)="ViewLinesRowDeleteClick(rowIndex, gridItem)">
                                        <span class="k-icon k-i-delete" role="presentation"></span>
                                    </button>
                                </ng-template>
                            </kendo-grid-column>
                        </kendo-grid>
                    </ng-container>
                    <!-- grid end -->
                </div>
            </div>
        </div>
        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">

                <button *ngIf="radioSelected == 0 || !(isPalletizationEnable || isShipmentContainerEnable)" type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text"
                    (click)="deleteAll()">
                    <span class="k-icon k-i-delete" role="presentation"></span> {{'DeleteAll'|translate}}</button>

                <button type="button" class="btn btn-success k-button btn-sm btn-icon-with-text" (click)="OnOKClick()">
                    <span class="k-icon k-i-check" role="presentation"></span> {{'Ok'|translate}}</button>

            </div>
        </div>
    </form>

    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{'Confirm'|translate}}</h4>
            <button id="modalCloseBtn" type="button" class="close pull-right" aria-label="Close" (mousedown)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {{'DeleteAllLines'|translate}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary k-button btn-sm" type="button" (mousedown)="deleteAllOkClick()">{{'Ok'|translate}}</button>
            <button class="btn btn-default k-button btn-sm" type="button" (mousedown)="modalRef.hide()">{{'Cancel'|translate}}</button>
        </div>
    </ng-template>
</div>

<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade"
    tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-auto-name" class="modal-title pull-left">{{'Confirm'|translate}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (mousedown)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ModalContent}}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary k-button btn-sm" type="button" #transferedItemsBtn>{{'Ok'|translate}}</button>
                <button class="btn btn-default k-button btn-sm" type="button" (mousedown)="hideModal()">{{'Cancel'|translate}}</button>
            </div>
        </div>
    </div>
</div>

<kendo-dialog [width]="750" *ngIf="dialogOpened" (close)="close('dialog')" [minWidth]="250">
    <kendo-dialog-titlebar>
        {{'Plt_SelectedPallets'|translate}}
    </kendo-dialog-titlebar>
    <kendo-grid [resizable]="true" [pageSize]="pageSize" [pageable]="pagable" [sortable]="true" [filterable]=isColumnFilter [groupable]=isColumnGroup
        [selectable]="true" [data]="selectedPallets" style="max-height:200px" class="no-shadow" #gridItem>

        <!-- grid for mobile start -->
        <kendo-grid-column media="(max-width: 767px)" title="{{'Plt_Pallets'|translate}}" class="opti_mobile-grid-td">
            <ng-template kendoGridCellTemplate let-dataItem>
                <dl class="opti_mobile_grid_dl">
                    <dt>{{'Plt_PalletNo'|translate}}</dt>
                    <dd>{{ dataItem.Code }}</dd>
                </dl>
                <dl class="opti_mobile_grid_dl">
                    <dt class="d-flex align-items-center">
                        <button class="btn btn-danger k-button btn-sm btn-icon ml-auto" type="button" (mousedown)="showSelectedPallets(rowIndex, gridItem)">
                            <span class="k-icon k-i-delete"></span>
                        </button>
                    </dt>
                </dl>
            </ng-template>
        </kendo-grid-column>
        <!-- grid for mobile end -->

        <kendo-grid-column media="(min-width: 768px)" field="Code" title="{{'Plt_PalletNo'|translate}}">
        </kendo-grid-column>
        <kendo-grid-column media="(min-width: 768px)" field="" headerClass="text-center" class="text-center" width="40">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button class="btn btn-danger k-button btn-sm btn-icon" type="button" (mousedown)="PalletDeleteClick(rowIndex, gridItem)">
                    <span class="k-icon k-i-delete"></span>
                </button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
    <kendo-dialog-actions class="text-right">
        <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text" (mousedown)="close('dialog')">
            <span class="k-icon k-i-close-outline" role="presentation"></span> {{'Cancel'|translate}}</button>
    </kendo-dialog-actions>
</kendo-dialog>






<!--Dialog for show selected Containers start-->
<kendo-dialog [width]="750" *ngIf="containerDialogOpened" (close)="close('containerDialog')" [minWidth]="250">
    <kendo-dialog-titlebar>
        {{'SelectedContainers'|translate}}
    </kendo-dialog-titlebar>
    <kendo-grid [resizable]="true" [pageSize]="pageSize" [pageable]="pagable" [sortable]="true" [filterable]=isColumnFilter [groupable]=isColumnGroup
        [selectable]="true" [data]="selectedContainers" style="max-height:200px" class="no-shadow" #gridItem>

        <!-- grid for mobile start -->
        <kendo-grid-column media="(max-width: 767px)" title="{{'ContainerCode'|translate}}" class="opti_mobile-grid-td">
            <ng-template kendoGridCellTemplate let-dataItem>
                <dl class="opti_mobile_grid_dl">
                    <dt>{{'ContainerId'|translate}}</dt>
                    <dd>{{ dataItem.Code }}</dd>
                </dl>
                <dl class="opti_mobile_grid_dl">

                    <dt class="d-flex align-items-center">
                        <button class="btn btn-danger k-button btn-sm btn-icon ml-auto" type="button" (mousedown)="ContainerDeleteClick(rowIndex, gridItem)">
                            <span class="k-icon k-i-delete"></span>
                        </button>
                    </dt>
                </dl>
            </ng-template>
        </kendo-grid-column>
        <!-- grid for mobile end -->

        <kendo-grid-column media="(min-width: 768px)" field="Code" title="{{'ContainerCode'|translate}}">
        </kendo-grid-column>
        <kendo-grid-column media="(min-width: 768px)" field="" headerClass="text-center" class="text-center" width="40">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button class="btn btn-danger k-button btn-sm btn-icon" type="button" (mousedown)="ContainerDeleteClick(rowIndex, gridItem)">
                    <span class="k-icon k-i-delete"></span>
                </button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
    <kendo-dialog-actions class="text-right">
        <button type="button" class="btn btn-danger k-button btn-sm btn-icon-with-text" (mousedown)="close('containerDialog')">
            <span class="k-icon k-i-close-outline" role="presentation"></span> {{'Cancel'|translate}}</button>
    </kendo-dialog-actions>
</kendo-dialog>
<!--Dialog for show selected Containers end-->


<!--Dialog for UDF Start-->
<!-- <kendo-dialog [width]="450" *ngIf="showUDF" (close)="onUDFDialogClose()" [minWidth]="550">
    <kendo-dialog-titlebar>
        {{'UDF'|translate}}
    </kendo-dialog-titlebar>

    <div class="form-group row" *ngFor="let template of templates;let i = index;">
        <label for="inputPassword" class="col-sm-4 col-form-label">{{itUDFComponentData[i].LabelName}}</label>
        <div class="col-sm-8" *ngIf="itUDFComponentData[i].istextbox">
            <div class="input-group input-group-sm">
                <input type="{{itUDFComponentData[i].textType}}" class="form-control form-control-sm" id="txt{{i}}" name="txt{{i}}" [(ngModel)]='itUDFComponentData[i].textBox'>
            </div>
        </div>

        <div class="col-sm-8" *ngIf="itUDFComponentData[i].isdropDown">
            <div class="input-group input-group-sm">
                <kendo-dropdownlist [data]="itUDFComponentData[i].DropdownArray" id="drp{{i}}" textField="Descr" valueField="IndexID" #selectedvalue
                    (selectionChange)="onDropdownChange($event)" name="drp{{i}}" [(ngModel)]="itUDFComponentData[i].dropDown">
                </kendo-dropdownlist>
            </div>
        </div>
    </div>
    <kendo-dialog-actions class="text-right">
        <button type="button" class="btn btn-success k-button btn-sm btn-icon-with-text" (mousedown)="onUDFSaveClick()">
            <span class="k-icon k-i-check" role="presentation"></span> {{'Save'|translate}}</button>
    </kendo-dialog-actions>
</kendo-dialog> -->

<span *ngIf="showUDF">
    <app-udfdialog [lookupfor]='displayArea' [templates]='templates' [UDFComponentData]='UDFComponentData' (UDFSaveClick)="getUDFSelectedItem($event)"></app-udfdialog>
</span>
<!--Dialog for UDF end-->


<span [hidden]="showLookupLoader">
    <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupkey)="getlookupSelectedItem($event)" (lookupvalue)="getLookupValue($event)"></app-lookup>
</span>

<!-- <span *ngIf="showPalletLookup == false">
    <app-lookup [lookupfor]='lookupFor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-lookup>
</span> -->

<div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>

<span *ngIf="showConfirmDialog">
    <app-comon-confirm-dialog [titleMessage]="dialogMsg" [yesButtonText]="yesButtonText" [fromWhere]="dialogFor" [noButtonText]="noButtonText"
        (isYesClick)="getConfirmDialogValue($event)"></app-comon-confirm-dialog>
</span>

<!--PDF-->
<div class="opti_loader full-section" *ngIf="showPDFLoading==true">
    <div class="opti_spinner"></div>
</div>
<div>
    <app-display-pdf *ngIf="displayPDF1" [base64String]='base64String' [fileName]='fileName' (pdfClose)="closePDF($event)"></app-display-pdf>
</div>