<kendo-dialog (close)="close('cancel')" [width]="550">
    <kendo-dialog-titlebar>
        {{titleMessage}}
    </kendo-dialog-titlebar>
    <div class="px-3">
        <div class="form-group row">
            <div class="input-group input-group-sm">
                <input type="text" id="newPallet" name="newPallet" class="form-control form-control-sm" [(ngModel)]="palletNo"
                    placeholder="{{'Pallet No.'}}" [disabled]="autoGeneratePalletEnable">
                <!-- <div class="input-group-append  has-seprate-btn ml-1">
                    <button class="btn btn-light k-button btn-sm btn-transparent btn-icon separate-btn p-0" type="button"
                        (click)="createNewPallet(event)">
                        <i class="opti-icon-add1 fs-24"></i>
                    </button>
                </div> -->
            </div>
        </div>
        <div class="form-group row">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control form-control-sm" placeholder="{{'Bin No.'}}" name="binNo"
                    [(ngModel)]="binNo" (blur)="OnBinChange()">
                <div class="input-group-append  has-seprate-btn">
                    <button class="k-button k-primary btn" type="button" (click)="OnBinLookupClick('OnClick')">
                        <i class="opti-icon-hammenu"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <kendo-dialog-actions>
        <button kendoButton *ngIf="showNoButton" (click)="close('no')">{{noButtonText}}</button>
        <button class="ml-1" kendoButton (click)="close('yes')" primary="true">{{yesButtonText}}</button>
    </kendo-dialog-actions>
</kendo-dialog>

<span [hidden]="showLookup">
    <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"></app-lookup>
</span>